{% load static %}
<link rel="stylesheet" href="{% static 'css/builder.css' %}">
<script src="{% static 'js/builder.js' %}"></script>
<form id="builderForm">
    {% csrf_token %}
    
    <!-- Season Select -->
    <label for="season">
        <p>Choose Season:</p> 
        <select name="season">
            {% for season in seasons %}
                {% if season.start_year != current_season.start_year %}
                <option value="{{season.start_year}}">
                    {{season.start_year}}/{{season.end_year|stringformat:"i"|slice:"2:"}}
                </option>
                {% endif %}
            {% endfor %}
        </select>
    </label>

    <!-- Stats Select -->
    <label>
        <p>
            Select Query Fields:
            <p class="subheading">
                At least one field must be selected for the query!
            </p>
        </p>
        <div id="querySelects">
            <div class="statsInputs" key="0">
                {% include 'statsInputs.html' with key="0" %}
            </div>
            <div class="statsInputs hide" key="1">
                {% include 'statsInputs.html' with key="1" %}
            </div>
            <div class="statsInputs hide" key="2">
                {% include 'statsInputs.html' with key="2" last="true" %}
            </div>
        </div>
    </label>

    <!-- Filter Select -->
    <label>
        <p>
            Select Query Filters:
            <p class="subheading">
                Tip: If querying Per 90 fields, try filtering by Minutes Played!
            </p>
        </p>
        <select>
            <option></option>
            <option>League</option>
            <option>Club</option>
            <option>Minutes Played</option>
            <option>Stats</option>
            <option>Age</option>
            <option>Nationality</option>
            <option>Position</option>
        </select>
    </label>

    <div id="queryFilters">
        <label for="league">
            <p>League:</p>
            <select name="league">
                <option></option>
            </select>
        </label>

        <label for="league">
            <p>Club:</p>
            <div class="multipleSelects">
                <select name="teamLeague">
                    <option></option>
                </select>
                <select name="team">
                    <option></option>
                </select>
            </div>
        </label>

        <label for="minutesPlayed">
            <p>Minutes Played:</p>
            <input type="text" name="age">
        </label>

        <label>
            <p>Stats:</p>
            <div id="statsFilters">
                <div class="statsInputs" key="0">
                    {% include 'statsInputs.html' with filter="true" key="0"%}
                </div>
                <div class="statsInputs hide" key="1">
                    {% include 'statsInputs.html' with filter="true" key="1" %}
                </div>
                <div class="statsInputs hide" key="2">
                    {% include 'statsInputs.html' with filter="true" key="2" last="true" %}
                </div>
            </div>
        </label>

        <label for="age">
            <p>Age:</p>
            <input type="text" name="age">
        </label>

        <label for="nationality">
            <p>Nationality:</p>
            <select name="nationality">
                <option></option>
                {% for country in countries %}
                    <option value="{{country.id}}">{{country.name|title}}</option>
                {% endfor %}
            </select>
        </label>

        <label for="position">
            <p>Position:</p>
            <select name="position">
                <option></option>
                {% for position in positions %}
                    <option value="{{position.0}}">{{position.1|title}}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <!-- Stats Select -->
    <label>
        <p>
            Select Order-By Field:
            <p class="subheading">
                By default, results will be sorted by the first seleted field!
            </p>
        </p>
        <div class="multipleSelects">
            <!-- Stat 1 -->
            <select name="orderBy-firstStat">
                <option></option>
                {% for stat in stats %}
                    <option val="{{stat.0}}">{{stat.1}}</option>
                {% endfor %}
            </select>
            <!-- Arithmetic Operator -->
            <select name="orderBy-arithOp">
                <option></option>
                <option value="*">×</option>
                <option value="/">÷</option>
                <option>+</option>
                <option>-</option>
            </select>
            <!-- Stat 2 -->
            <select name="orderBy-secondStat">
                <option></option>
                {% for stat in stats %}
                    <option val="{{stat.0}}">{{stat.1}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="multipleToggles">
            {% include 'toggle.html' with label="Per 90" name="orderBy-PerNinety"%}
            {% include 'toggle.html' with label="Low to High" name="orderBy-ASC"%}
        </div>
        <!-- Additional Select Fields -->
    </label>
    <label id="submitLabel">
        <input type="submit" value="Make Query" />
    </label>
</form>