{% load mathfilters %}
<div class="card">
    <div class="cardTitle">
        <i class="bi bi-caret-left-fill"></i>
        <span>{{title}}</span>
        <i class="bi bi-caret-right-fill"></i>
    </div>
    <div class="cardBody">
        {% for page in data %}
            {% if forloop.counter == 1 %}
                <ul class="page{{forloop.counter}}">
            {% else %}
                <ul class="page{{forloop.counter}} hide">
            {% endif %}
            {% for item in page %}
                <li>{{item}}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="cardPagination">
        <ul>
        {% for _ in data %}
            {% if forloop.counter == 1 %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <span>{{forloop.counter}}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>