{% load static %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<div class="card">
    {% for card in cards %}
        <!-- Card Content -->
        <div 
            {% if forloop.counter == 1 %}
                class="cardContent active"
            {% else %}
                class="cardContent"
            {% endif %}
        >
            <div class="cardTitle">
                <i class="bi bi-caret-left-fill"></i>
                <span>{{card.title}}</span>
                <i class="bi bi-caret-right-fill"></i>
            </div>

            <!-- DASHBOARD CARD BODY -->
            {% if type == "dashboard" %}
                <div class="cardBody">
                    {% for page in card.get_pages %}
                        <ul 
                            {% if forloop.counter == 1 %}
                                class="page active"
                            {% else %}
                                class="page"
                            {% endif %}
                        >
                            {% for entry in page %}
                                <li class="cardEntry">
                                    <a href="/team/{{entry.team_id}}/{{current_season.start_year}}" class="logo">
                                        <img src="{{entry.team_logo}}" />
                                    </a>
                                    <div class="playerTeamInfo">
                                        <div class="playerInfo">
                                            <span class="rank">{{entry.rank}}.</span>
                                            &nbsp;
                                            <a class="playerName" href="/player/{{entry.player_id}}/{{current_season.start_year}}">
                                                {{entry.get_player_name}}
                                            </a>
                                        </div>
                                        <span class="teamName">{{entry.team|title}}</span>
                                        <!--<span class="leagueName">{{entry.league|title}}</span>-->
                                    </div>
                                    <span class="value">{{entry.value}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
                <!-- Card Pagination --> 
                <ul class="cardPagination">
                {% for _ in card.get_pages %}
                    {% if forloop.counter == 1 %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <span>{{forloop.counter}}</span>
                    </li>
                {% endfor %}
                </ul>
            <!-- OTHER CARD BODY -->
            {% else %}
            <!-- ... -->
            {% endif %}
        </div>
    {% endfor %}
</div>
<script>
    $(document).ready( function () {
        $("div.cardContent div.cardTitle i.bi-caret-left-fill").click( function () {
            // change active cardContent div
            const currentCard = $(this).parent().parent();
            currentCard.removeClass("active");
            const prevCards = currentCard.prevAll("div.cardContent");
            if (prevCards.length > 0) {
                prevCards.first().addClass("active");
            } else {
                currentCard.nextAll("div.cardContent").last().addClass("active");
            }
        });
        $("div.cardContent div.cardTitle i.bi-caret-right-fill").click( function() {
            // change active cardContent div
            const currentCard = $(this).parent().parent();
            currentCard.removeClass("active");
            const nextCards = currentCard.nextAll("div.cardContent");
            if (nextCards.length > 0) {
                nextCards.first().addClass("active");
            } else {
                currentCard.prevAll("div.cardContent").last().addClass("active");
            }
        });
        $("div.cardContent ul.cardPagination li").click( function() {
            const currentCardBody = $(this).parent().parent().children("div.cardBody").first();
            const cards = currentCardBody.children("ul.page");
            // remove active class from active page and pagination item 
            const activePage = $(this).siblings("li.active").first();
            const active_page_num = parseInt(activePage.text());
            cards.eq(active_page_num-1).removeClass("active");
            // add active class to next page and pagination item 
            const current_page_num = parseInt($(this).text());
            cards.eq(current_page_num-1).addClass("active");
            // change active pagination li
            activePage.removeClass("active");
            $(this).addClass("active");
            }
        );
    });
</script>
