{% load static %}
<link rel="stylesheet" href="{% static 'css/dashNav.css' %}">
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/dashNav.js' %}"></script>
<nav id="dashNav">
    {% if perNinety and perNinety is True %}
        <form id="perNinetyForm">
            {% csrf_token %}
            {% include 'toggle.html' with label="Per 90"%}
        </form>
    {% else %}
        <div></div>
    {% endif %}

    {% if navTitle and navTitle is True %}
    <div id="navTitle">
        {% if current_league and current_league.country.flag %}
            <img src="{{current_league.country.flag}}" />
        {% elif current_league %}
            <img src="{{current_league.logo}}" />
        {% else  %}
            <h4>Top 5 Leagues</h4>
        {% endif %}
    </div>
    {% else %}
        <div></div>
    {% endif %}

    <form id="seasonForm">
        {% csrf_token %}
        <select name="start_year">
            <option value="{{current_season.start_year}}">
                {{current_season.start_year}}/{{current_season.end_year|stringformat:"i"|slice:"2:"}}
            </option>
            {% for season in seasons %}
                {% if season.start_year != current_season.start_year %}
                <option value="{{season.start_year}}">
                    {{season.start_year}}/{{season.end_year|stringformat:"i"|slice:"2:"}}
                </option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
</nav>