{% load static %}
<link rel="stylesheet" href="{% static 'css/dashNav.css' %}">
<script src="{% static 'js/dashNav.js' %}"></script>
<nav id="dashNav">
    <!--<form id="perNinetyForm" action="/change_per_ninety" method="POST">-->
    <form id="perNinetyForm">
        {% csrf_token %}
        <label for="per_ninety">
            <span>Per 90</span>
            <label class="switch">
                <input type="checkbox" id="perNinetyInput" name="per_ninety"
                    {% if per_ninety and per_ninety is True %} checked {% endif %}
                >
                <span class="slider round"></span>
            </label>
        </label>
    </form>

    <div id="placeholder">
        {% if current_league and current_league.country.flag %}
            <img src="{{current_league.country.flag}}" />
        {% elif current_league %}
            <img src="{{current_league.logo}}" />
        {% else  %}
            <h4>Top 5 Leagues</h4>
        {% endif %}
    </div>
    <form id="seasonForm">
        {% csrf_token %}
        <select name="start_year">
            <option value="{{current_season.start_year}}">
                {{current_season.start_year}}/{{current_season.end_year|stringformat:"i"|slice:"2:"}}
            </option>
            {% for season in seasons %}
                {% if season.start_year != current_season.start_year %}
                <option value="{{season.start_year}}">
                    {{season.start_year}}/{{season.end_year|stringformat:"i"|slice:"2:"}}
                </option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
</nav>