{% load static %}
<script src="{% static 'js/nav.js' %}"></script>
<nav id="mainNav">
    <ul>
        <li class="regularNav">
            <a href="/" id="brand">
                <h1>info-rm</h1>
            </a>
            <a class="collapsible" href="/builder">
                <h5> StatBuilder </h5>
                <i class="bi bi-hammer"></i>
            </a>
            <form class="collapsible">
                <h5><input type="text" placeholder="Search" /></h5>
            </form>
        </li>
        <li class="leagueNav">
            <div class="firstRow">
                <a>
                    <img src="https://media.api-sports.io/football/leagues/78.png" />
                </a>
                <a>
                    <img src="https://media.api-sports.io/football/leagues/61.png" />
                </a>
                <a>
                    <img src="https://media.api-sports.io/football/leagues/39.png" />
                </a>
                <a>
                    <img src="https://media.api-sports.io/football/leagues/140.png" />
                </a>
                <a>
                    <img src="https://media.api-sports.io/football/leagues/135.png" />
                </a>
                <a id="leagueDropdown"><i class="bi bi-caret-down-fill"></i></a>
            </div>
            <div class="secondRow">
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/2.png" />
                    </a>
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/3.png" />
                    </a>
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/94.png" />
                    </a>
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/235.png" />
                    </a>
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/88.png" />
                    </a>
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/203.png" />
                    </a>
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/218.png" />
                    </a>
                    <a>
                        <img src="https://media.api-sports.io/football/leagues/119.png" />
                    </a>
            </div>
        </li>
    </ul>
</nav>