nav#dashNav {
    border-bottom: 1px solid lightgrey;
    padding: 7px 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    font-size: calc(8px + 0.4vw); 
}
nav#dashNav div#navTitle { 
    min-height: 35px; 
    display: flex;
    align-items: center;
    font-size: calc(12px + 0.4vw); 
}
nav#dashNav div#navTitle img { 
    height: calc(20px + 0.5vw);
    width: auto;
}
nav#dashNav div#navTitle h4 { display: inline-block; }
nav#dashNav form { 
    display: flex;
    align-items: center;
    width: 100px; 
}
nav#dashNav form#perNinetyForm { justify-content: flex-start; }
nav#dashNav form#seasonForm { justify-content: flex-end; }
nav#dashNav select { 
    border: 1px solid lightgrey; 
    border-radius: 3px;
    padding: 3px;
}

nav#dashNav select { outline: none; }
/*nav#dashNav select:focus { border: 3px solid #DAA99B; }*/


nav#dashNav select, input[type='checkbox'] { 
    cursor: pointer; 
}

/* toggle CSS */
nav#dashNav label span { font-weight: bold; }
nav#dashNav label.switch {
    position: relative;
    display: inline-block;
    margin-left: calc(2px + 0.3vw); 
    width: 30px;
    height: 17px;
}
nav#dashNav label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
nav#dashNav label.switch span.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
nav#dashNav label.switch span.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
nav#dashNav label.switch input:checked + .slider { background-color: #007bff; } /* #2196F3 */
nav#dashNav label.switch input:focus + .slider { box-shadow: 0 0 1px #007bff; }
nav#dashNav label.switch input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
nav#dashNav label.switch span.slider.round { border-radius: 17px; }
nav#dashNav label.switch span.slider.round:before { border-radius: 50%; }