footer#mainFooter {
    width: calc(100% - 40px);
    border-top: 1px solid lightgrey;
    padding: 50px 20px 100px;
    background-color: whitesmoke;
    font-size: calc(8px + 0.4vw);
    text-align: center;
}

footer#mainFooter div {
    display: inline-block;
}