div#playerPageHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

div#playerPageHeader h1 {
    font-size: calc(20px + 1vw);
}

div#playerPageHeader select {
    margin: 0 30px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 3px;
    font-size: calc(8px + 0.4vw); 
}

div.playerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
div.playerCards:not(.active) {
    display: none;
}

div#playerCards div#playerBioCards,
div#playerCards div#playerStatCards {
    margin: 0 2%;
}