
div.toggleWrapper select, input[type='checkbox'] { cursor: pointer; }
div.toggleWrapper label.toggleLabel {
    height: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
div.toggleWrapper label.toggleLabel span {
    display: inline-block;
    font-weight: bold;
}
div.toggleWrapper label.switch {
    position: relative;
    display: inline-block;
    margin-left: calc(2px + 0.3vw); 
    width: 30px;
    height: 17px;
}
div.toggleWrapper label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
div.toggleWrapper label.switch span.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
div.toggleWrapper label.switch span.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
div.toggleWrapper label.switch input:checked + .slider { background-color: #007bff; } /* #2196F3 */
div.toggleWrapper label.switch input:focus + .slider { box-shadow: 0 0 1px #007bff; }
div.toggleWrapper label.switch input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
div.toggleWrapper label.switch span.slider.round { border-radius: 17px; }
div.toggleWrapper label.switch span.slider.round:before { border-radius: 50%; }