<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
    <!-- JQUERY SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <!-- SELF-DEFINED JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='builder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='player.js') }}"></script>
    <!-- SELF-DEFINED CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!-- title -->
    <title>info-rm - statistics for players in Europe's top leagues</title>
  </head>

  <body>
    <div class="mr-auto ml-auto bg-white" id="page-wrapper">
      <div class="border shadow mr-auto ml-auto mx-1 bg-white" id="main-wrapper">

        <!-- Navigation Bar -->
        {% include "navbar.html" %}

        <!-- Content -->
        <div class="container-fluid ml-auto mr-auto pb-1">
          {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <div class="footer text-center text-secondary mt-4 mb-3">Developed by Sam Royall</div>

      </div>
    </div>
  </body>

</html>
