{% extends "base.html" %}

{% block content %}

{% set section_names = {"goals": "Goals","assists": "Assists","goal_contributions": "Goal Contributions","shots_on": "Shots On Target","shots": "Shots","goals_per_shot":  "Goals Per Shot","passes_key": "Key Passes","passes": "Passes","passes_accuracy": "Pass Accuracy","dribbles_succeeded": "Successful Dribbles","dribbles_attempted": "Attempted Dribbles","dribbles_succeeded_pct": "Dribble Success Rate","tackles": "Tackles","interceptions": "Interceptions","blocks": "Blocks","rating": "Player Rating","goals_conceded": "Goals Conceded","penalties_saved": "Penalties Saved"} %}

<div class="row justify-content-center border-bottom px-2 py-1" id="per90-season-wrapper">
  <!-- Dashboard Per 90 Toggle -->
  <div class="col-4 col-sm-3 col-md-2"> 
      <div class="custom-control custom-switch" id="dashboard-per90">
        <input type="checkbox" class="custom-control-input"
          id="main_per90_toggle">
        <label class="custom-control-label align-self-center per90-label"
          for="main_per90_toggle">
            <strong class="text-secondary">Per 90</strong>
        </label>
      </div>
  </div>
  <!-- League Flag -->
  <div class="col text-secondary text-center">
    {% if current_league == "Top-5" %}
      <strong id="dashboard-title">Top 5 Leagues</strong>
    {% elif current_league == "3" %}
      <div class="ml-auto mr-auto" id="europa-crop-dashboard">
        <img src="{{current_league_flag}}" height="50px">
	    </div>
    {% else %}
      <img id="dashboard-league-flag" src="{{current_league_flag}}"/>
    {% endif %}
  </div>
  <!-- Dashboard Season Dropdown -->
  <div class="col-4 col-sm-3 col-md-2">
      <select class="custom-select custom-select-sm season-select"
        id="season-select" value="">
	  <option value="{{current_season}}">{{current_season}}/{{((current_season|int+1)|string)[2:]}}</option>
          {% for season in seasons %}
            {% if season != current_season %}
	      <option value="{{season}}">{{season}}/{{((season|int+1)|string)[2:]}}</option>
            {% endif %}
          {% endfor %}
      </select>
  </div>
</div>

<div class="row justify-content-center">
<!-- Loop Through Stat Sections -->
{% for stat in query_result.keys() %}
  <!-- Section Wrapper -->
  <div class="p-0 mx-5 mt-4">
    <!-- Section Heading -->
    <div class="ml-auto mr-auto text-left" id="dashboard-section-title">
      <strong>{{stat.upper()}}</strong>
    </div>
    <!-- Card Row -->

      <!-- Number of Cards in Given Section -->
      {% set num_cards = query_result.get(stat).keys()|length %}

      <!-- Loop Through Stat Section's Substats -->
      {% for substat in query_result.get(stat).keys() %}

        <!-- Iteration Number -->
        {% set card_num = loop.index - 1 %}

        <!-- Card Content Beginning -->
        {% if card_num == 0 %}
          <div class="card dash-card px-2 pt-3 {{stat}}_card_{{card_num}} shadow-sm rounded">
        {% else %}
          <div class="card dash-card px-2 pt-3 {{stat}}_card_{{card_num}} shadow-sm rounded hidden">
        {% endif %}
            {% include "card.html" %}
            {% include "per90_card.html" %}
          </div>
        <!-- Card Content End -->

      {% endfor %}

    <!-- Card Row End -->
  </div>
  <!-- Section Wrapper End -->

{% endfor %}
</div>

{% endblock %}
