<div class="navbar-nav flex-row justify-content-center px-0 border-left" id="league-nav">
  <!-- Bundesliga -->
  <a class="nav-link col league-nav-link px-0 text-center"
    title="German Bundesliga" id="bundesliga-link"
    href="{{url_for('dashboard', league='78', season=current_season)}}">
      <img class="league-logo"
        src="https://media.api-sports.io/football/leagues/78.png">
  </a>
  <!-- Ligue 1 -->
  <a class="nav-link col league-nav-link px-0 text-center"
    title="French Ligue 1"
    href="{{url_for('dashboard', league='61', season=current_season)}}">
      <img class="league-logo"
        src="https://media.api-sports.io/football/leagues/61.png">
  </a>
  <!-- Premier League -->
  <a class="nav-link col league-nav-link px-0 text-center"
    title="English Premier League"
    href="{{url_for('dashboard', league='39', season=current_season)}}">
    <img class="league-logo"
      src="https://media.api-sports.io/football/leagues/39.png">
  </a>
  <!-- La Liga -->
  <a class="nav-link col league-nav-link px-0 text-center"
    title="Spanish Primera Division"
    href="{{url_for('dashboard', league='140', season=current_season)}}">
      <img class="league-logo"
        src="https://media.api-sports.io/football/leagues/140.png">
  </a>
  <!-- Serie A -->
  <a class="nav-link col league-nav-link px-0 text-center"
    title="Italian Serie A"
    href="{{url_for('dashboard', league='135', season=current_season)}}">
      <img class="league-logo"
        src="https://media.api-sports.io/football/leagues/135.png">
  </a>
  <!-- Dropdown Button -->
  <a class="nav-link col league-nav-link px-0 text-center" role="button"
    data-toggle="collapse" href="#other-league-nav"
    aria-expanded="false" aria-controls="#other-league-nav"
    id="other-league-nav-button">
    {% include "dropdown_caret.html" %}
  </a>
</div>
<!-- Dropdown -->
<div class="navbar-nav collapse flex-row justify-content-center border-left"
  id="other-league-nav">
  <!-- Champions League -->
  <a class="nav-link col px-0 text-center"
    title="UEFA Champions League"
    href="{{url_for('dashboard', league='2', season=current_season)}}"
    id="champions-link">
    <img class="dropdown-league-logo"
      src="https://media.api-sports.io/football/leagues/2.png">

  </a>
  <!-- Europa League -->
  <a class="nav-link col px-0 text-center"
    title="UEFA Europa League"
    href="{{url_for('dashboard', league='3', season=current_season)}}">
    <div id="europa-crop">
      <img src="https://media.api-sports.io/football/leagues/3.png"
        width="40px">
    </div>
  </a>
  <!-- Portuguese League -->
  <!-- src="https://media.api-sports.io/football/leagues/94.png" -->
  <a class="nav-link col px-0 text-center"
    title="Portuguese Primeira Liga"
      href="{{url_for('dashboard', league='94', season=current_season)}}">
    <img class="dropdown-league-logo"
            src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Liga_NOS_logo.png">
  </a>
  <!-- Russian League -->
  <a class="nav-link col px-0 text-center"
    title="Russian Premier League"
      href="{{url_for('dashboard', league='235', season=current_season)}}">
    <img class="dropdown-league-logo"
      src="https://media.api-sports.io/football/leagues/235.png">
  </a>
  <!-- Eredivisie -->
  <a class="nav-link col px-0 text-center"
    title="Dutch Eredivisie"
      href="{{url_for('dashboard', league='88', season=current_season)}}">
    <img class="dropdown-league-logo"
      src="https://media.api-sports.io/football/leagues/88.png">
  </a>
  <!-- Turkish League -->
  <a class="nav-link col px-0 text-center"
    title="Turkish Super Lig"
      href="{{url_for('dashboard', league='203', season=current_season)}}">
    <img class="dropdown-league-logo"
      src="https://media.api-sports.io/football/leagues/203.png">
  </a>
  <!-- Austrian Bundesliga -->
  <a class="nav-link col px-0 text-center"
    title="Austrian Bundesliga"
      href="{{url_for('dashboard', league='218', season=current_season)}}">
    <img class="dropdown-league-logo"
      src="https://media.api-sports.io/football/leagues/218.png">
  </a>
  <!-- Danish League -->
  <a class="nav-link col px-0 text-center"
    title="Danish Superliga"
      href="{{url_for('dashboard', league='119', season=current_season)}}">
    <img class="dropdown-league-logo"
      src="https://media.api-sports.io/football/leagues/119.png">
  </a>
</div>
  <!--</div>-->
