{% if search_query %}
  <script>
    $(document).ready( function() {
      $("#nav-search").focus();
      $("#nav-search").val("{{search_query}}");
      var val_len = $("#nav-search").val().length;
      $("#nav-search").get(0).setSelectionRange(val_len, val_len);
    });
  </script>
{% endif %}

<nav class="navbar navbar-light navbar-fixed-top bg-light border-bottom navbar-expand-lg align-items-center p-0">
    <!-- Logo -->
    <a class="navbar-brand text-secondary pr-0" id="brand"
      href="{{ url_for('home') }}">
        <strong>info-rm</strong>
    </a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse"
      data-target="#main-nav-collapse" aria-controls="main-nav-collapse"
      aria-expanded="false" aria-label="Toggle navigation" id="navbar-collapse-button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse Div Start -->
    {% if search_query %}
      <div class="navbar-collapse collapse show text-left border-left mr-0" id="main-nav-collapse">
    {% else %}
      <div class="navbar-collapse collapse text-left border-left mr-0" id="main-nav-collapse">
    {% endif %}
	      <!-- Builder -->
        <a class="nav-item nav-link text-secondary px-0 ml-0" id="builder-link"
	         href="{{ url_for('builder') }}">
             StatBuilder
             {% include "builder_icon.html" %}
        </a>
        <!-- Player Search -->
	      <div id="search-wrapper">
	        <form class="form-inline dropdown show" autocomplete="off">
  	        {% if search_query %}
	          <input class="form-control form-control-sm" type="search"
	            placeholder="Player Search" aria-label="Search" id="nav-search">
	              <div class="dropdown-menu show" id="searchDropdown">
 	                {% for item in search_result %}
                          <a class="dropdown-item text-dark search-name"
	                    href="{{ url_for('player', id=item[0]) }}">
		              {% set name = item[1] %}
		              {% if (name|length) > 20 %}
	                        <strong>{{ name[:20] }}...</strong>
		              {% else %}
	                        <strong>{{ name }}</strong>
		              {% endif %}
	                  </a>
	                {% endfor %}
		      </div>
		  </input>
	        {% elif search %}
	          <input class="form-control form-control-sm" type="search"
	            placeholder="Player Search" aria-label="Search" id="nav-search">
		  </input>
	        {% endif %}
	        </form>
	      </div>
        <!-- Leagues -->
	<div class="flex-column">
          {% include "league_nav.html" %}
	</div>
      </div>
  <!-- Collapse Div End -->
</nav>
