<script>
  $(document).ready( function () {
    generateTrie('{{players|tojson|safe}}');
    $("#nav-search").keyup( function () {
      let dropdown = document.getElementById("search-dropdown");
      while (dropdown.firstChild) {
        dropdown.removeChild(dropdown.firstChild);
      }
      let searchResults = searchTrie($(this).val());
      for (let result of searchResults) {
        let parent = document.getElementById("nav-search");
        let parentPos = parent.getBoundingClientRect();
        dropdown.setAttribute("style", "position: fixed; top: " + (parentPos.top + 30).toString() + "px; left: " + parentPos.left.toString() + "px;");

        let playerLink = document.createElement("a");
        playerLink.setAttribute("class", "list-group-item list-group-item-action p-2 search-name");
        let newUrl = window.location.href.split("/")[0] + "/player/" + result.id.toString();
        playerLink.setAttribute("onClick", "window.location.href = '" + newUrl + "'");

        let playerName = document.createElement("strong");
        playerName.appendChild(document.createTextNode(result.name))

        playerLink.appendChild(playerName);

        dropdown.appendChild(playerLink);
      }
    });
  });
</script>
<nav class="navbar navbar-light navbar-fixed-top bg-light border-bottom navbar-expand-lg align-items-center p-0"
  id="main-nav">
    <!-- Logo -->
    <a class="navbar-brand text-secondary pr-0" id="brand"
      href="{{ url_for('home') }}">
        <strong>info-rm</strong>
    </a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse"
      data-target="#main-nav-collapse" aria-controls="main-nav-collapse"
      aria-expanded="false" aria-label="Toggle navigation" id="navbar-collapse-button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse Div Start -->
    {% if search_query %}
      <div class="navbar-collapse collapse show text-left border-left mr-0" id="main-nav-collapse">
    {% else %}
      <div class="navbar-collapse collapse text-left border-left mr-0" id="main-nav-collapse">
    {% endif %}
	      <!-- Builder -->
        <a class="nav-item nav-link text-secondary px-0 ml-0" id="builder-link"
	         href="{{ url_for('builder') }}">
             StatBuilder
             {% include "builder_icon.html" %}
        </a>
        <!-- Player Search -->
	      <div id="search-wrapper">
	        <form class="form-inline" autocomplete="off">
	          <input class="form-control form-control-sm" type="search"
	            placeholder="Player Search" aria-label="Search" id="nav-search">
	              <ul class="list-group" id="search-dropdown"></ul>
		        </input>
	        </form>
	      </div>
        <!-- Leagues -->
	<div class="flex-column">
          {% include "league_nav.html" %}
	</div>
      </div>
  <!-- Collapse Div End -->
</nav>
