<!-- Header -->
<div class="row justify-content-center" id="player-card-header">
  <div class="col-6 text-secondary text-center" id="player-card-title">
    <strong>Fouling</strong>
  </div>
</div>
<!-- Header End -->

{% set pretty_names = {"cards_yellow": "Yellow Cards", "cards_red": "Red Cards"} %}

{% set per_90_stats = ["fouls_committed", "fouls_drawn"] %}

{% set stats_list = ["fouls_committed", "fouls_drawn", "cards_red", "cards_yellow", "penalties_scored", "penalties_missed", "penalties_committed", "penalties_won", "penalties_saved"] %}

<ul class="list-group player-card">
  {% for stat_field in stats_list %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-7 text-secondary text-left player-stat-name">
          {% if stat_field in pretty_names.keys() %}
            <strong>{{ pretty_names.get(stat_field) }}</strong>
          {% else %}
            <strong>{{ stat_field.title().replace("_"," ") }}</strong>
          {% endif %}
        </div>
        <div class="col-5 text-success text-right playerStat">
            <strong>{{player_stat.get(stat_field)|int}}</strong>
        </div>
        <div class="col-5 text-success text-right hidden player-stat-per90">
          {% if stat_field in per_90_stats %}
            <strong>{{player_stat_per90.get(stat_field)|round(2)}}</strong>
          {% else %}
            <strong>{{player_stat.get(stat_field)|int}}</strong>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
