{% extends "base.html" %}
{% block content %}

  {% set player_data = data.get("player") %}
  {% set player_stats = data.get("stats") %}
  {% set player_stats_per90 = per90_data.get("stats") %}
  {% set seasons = player_stats.keys() %}


<script>
  $(document).ready( function() {
    $(function() {

      $("#player-season-select").val("{{current_season}}");
      $("#player-" + "{{current_season}}" + "-select").removeClass("hidden");

      $("#player-season-select").change(function () {
        {% for season in seasons %}
          $("#{{season}}-wrapper").addClass("hidden");
          $("#player-{{season}}-select").addClass("hidden");
        {% endfor %}
        var season = $(this).val();
        $("#" + season + "-wrapper").toggleClass("hidden");
        $("#player-" + season + "-select").removeClass("hidden");
      });
    });
  });
  function changeTeam( season, numTeams ) {
    var team_val = $("#player-" + season + "-select").val();
    for (var i=0; i < numTeams; i++) {
      if (i == Number(team_val)) {
        $("#" + season + "-" + i + "-div").removeClass("hidden");
      } else {
        $("#" + season + "-" + i + "-div").addClass("hidden");
      }
    }
  }
</script>

<div class="row border-bottom" id="per90-season-wrapper">
  <!-- Per 90 Toggler -->
  <div class="col-4 col-xs-3 col-md-2 mr-auto custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="player-per90-toggle">
      <label class="custom-control-label per90-label"
        for="player-per90-toggle" id="player-per90-label">
          <strong class="text-secondary">Per 90</strong>
      </label>
  </div>

  <!-- Seasons Dropdown -->
  <div class="col-7 col-sm-5 col-md-4 col-lg-3 ml-auto">
    <select class="custom-select custom-select-sm season-select"
      id="player-season-select" value="">
        {% for season in seasons %}
          {% if season != current_season %}
	    <option value="{{season}}">{{season}}/{{((season|int+1)|string)[2:]}}</option>
          {% endif %}
        {% endfor %}
    </select>
    <!-- Season Teams Dropdown -->
    {% for season in player_stats.keys() %}
      {% set num_teams = player_stats.get(season)|length %}
      {% if num_teams > 1 %}
        {% if season == current_season %}
          <select class="custom-select custom-select-sm season-select"
            id="player-{{season}}-select" value="" onChange="changeTeam({{season}}, {{num_teams}});">
        {% else %}
          <select class="custom-select custom-select-sm season-select hidden"
            id="player-{{season}}-select" value="" onChange="changeTeam({{season}}, {{num_teams}});">
        {% endif %}
              {% for stat in player_stats.get(season) %}
                <option value="{{stat}}">{{player_stats.get(season).get(stat).get("stats").get("team_name")}} - {{player_stats.get(season).get(stat).get("stats").get("league_name")}}</option>
              {% endfor %}
          </select>
      {% endif %}
    {% endfor %}
  </div>
</div>

  <div class="text-center h4 text-secondary" id="player-page-name">
    {{player_data.get("firstname")}}
    {{player_data.get("lastname")}}
  </div>

  {% for season in player_stats.keys() %}
    {% set num_stats = player_stats.get(season).keys()|length %}
    <!-- Season Wrapper -->
    {% if season|string == current_season %}
      <div id="{{season}}-wrapper">
    {% else %}
      <div class="hidden" id="{{season}}-wrapper">
    {% endif %}

    {% for stat in player_stats.get(season).keys() %}
      {% set player_stat = player_stats.get(season).get(stat).get("stats") %}
      {% set player_stat_per90 = player_stats_per90.get(season).get(stat).get("stats") %}
      {% set team_data = player_stats.get(season).get(stat).get("team") %}
      {% set league_data = player_stats.get(season).get(stat).get("league") %}

      {% if stat == 0 %}
        <div id="{{season}}-{{stat}}-div">
      {% else %}
        <div class="hidden" id="{{season}}-{{stat}}-div">
      {% endif %}

        <div class="row">
          <!-- Player First Col -->
          <div class="col-12 col-md-6">

            {% for card in ["player_bio.html", "player_fouling.html"] %}
              <div class="card ml-auto mr-auto shadow-sm rounded px-2 pt-3 pb-2" id="player-cards-wrapper">
                <!-- Player Card Body -->
                <div class="py-0">
                  <!-- Player Cards Wrapper -->
                  <div class="row justify-content-center">
                    <!-- Player Card -->
                    <div class="col">
                      {% include card %}
                    </div>
                  </div>
                  <!-- Player Cards Wrapper End -->
                </div>
                <!-- Player Card Body End -->
              </div>
              <!-- Player Card End -->
            {% endfor %}

          </div>
          <!-- Player First Col End -->

          <!-- Player Second Col -->
          <div class="col-12 col-md-6">

            {% for card in ["player_gameplay.html", "player_stats.html"] %}
              <div class="card ml-auto mr-auto shadow-sm rounded px-2 pt-3 pb-2" id="player-cards-wrapper">
                <!-- Player Card Body -->
                <div class="py-0">
                  <!-- Player Cards Wrapper -->
                  <div class="row justify-content-center">
                    <!-- Player Card -->
                    <div class="col">
                      {% include card %}
                    </div>
                  </div>
                  <!-- Player Cards Wrapper End -->
                </div>
                <!-- Player Card Body End -->
              </div>
              <!-- Player Card End -->
            {% endfor %}

          </div>
         <!-- Player Second Col End -->
        </div>
        <!-- Player Row End -->
        </div>
      <!-- End of Stat Wrapper -->
    {% endfor %}
    </div>
  <!-- End of Season Wrapper -->
  {% endfor %}

{% endblock %}
