<!-- Header -->
<div class="row justify-content-center" id="playerCardHeader">

  <div class="col-6 text-secondary text-center" id="playerCardTitle">
    <strong>Bio</strong>
  </div>

</div>
<!-- Header End -->

<ul class="list-group playerCard">
  <li class="list-group-item">
    <div class="row">
      <div class="col-4 text-secondary text-left playerStatName">
        <strong>Position</strong>
      </div>
      <div class="col-8 text-right playerStatBio">
        <strong>{{player_stat.get("position")}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-4 text-secondary text-left playerStatName">
        <strong>Team</strong>
      </div>
      <div class="col-8 text-right playerStatBio">
        <strong>{{player_stat.get("team_name")}}</strong>&nbsp
        <img src="{{team_data.get('logo')}}" height="20px" width="20px">
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-4 text-secondary text-left playerStatName">
        <strong>League</strong>
      </div>
      <div class="col-8 text-right playerStatBio">
	<!-- Edit Europa League Logo -->
	{% if league_data.get("flag").split("/")[-1][0] == "3" %}
	  <div>
            <strong>{{player_stat.get("league_name")}}</strong>&nbsp
	    <div class="float-right" id="EuropaCropPlayer">
              <img src="{{league_data.get('flag')}}" height="40px">
	    </div>
	  </div>
	{% else %}
          <strong>{{player_stat.get("league_name")}}</strong>&nbsp
          <img src="{{league_data.get('flag')}}" height="15px" width="auto">
	{% endif %}
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-5 text-secondary text-left playerStatName">
        <strong>Nationality</strong>
      </div>
      <div class="col-7 text-right playerStatBio">
        <strong>{{player_data.get("nationality")}}</strong>&nbsp
        <img src="{{player_data.get('flag')}}" height="15px" width="auto">
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-5 text-secondary text-left playerStatName">
        <strong>Date of Birth</strong>
      </div>
      <div class="col-7 text-right playerStatBio">
        {% set birthdate_list = player_data.get("birth_date").split("-") %}
	{% set year = birthdate_list[0] %}
	{% set month = birthdate_list[1] %}
	{% set day = birthdate_list[2] %}
	{% if year == "1600" and month == "1" and day == "1" %}
	  <strong>NULL</strong>
	{% else %}
          <strong>{{month|int}}/{{day|int}}/{{year|int}}</strong>
        <strong>({{player_data.get("age")}})</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-5 text-secondary text-left playerStatName">
        <strong>Height</strong>
      </div>
      <div class="col-7 text-right playerStatBio">
        <strong>{{player_data.get("height")}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-5 text-secondary text-left playerStatName">
        <strong>Weight</strong>
      </div>
      <div class="col-7 text-right playerStatBio">
        <strong>{{player_data.get("weight")}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-5 text-secondary text-left playerStatName">
        <strong>Rating</strong>
      </div>
      <div class="col-7 text-right playerStatBio">
        <strong>{{player_stat.get("rating")|float|round(2)}}</strong>
      </div>
    </div>
  </li>
</ul>

