{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<script src="{% static 'js/nav.js' %}"></script>
<nav id="mainNav">
    <ul id="navList">
        <!-- Main Navbar -->
        <li class="regularNav">
            <a href="/" id="brand">
                <h1>info-rm</h1>
            </a>
            <a class="collapsible" href="/builder">
                <h5> StatBuilder </h5>
                <i class="bi bi-hammer"></i>
            </a>
            <form class="collapsible" id="searchForm">
                {% csrf_token %}
                <h5><input type="text" name="search" id="mainSearchBar" placeholder="Search" autocomplete="off"/></h5>
                <ul class="searchResults" id="mainSearchResults"></ul>
            </form>
        </li>
        <!-- Burger Button -->
        <li class="burgerButton"> <i class="bi bi-list"></i> </li>
        <!-- League Navbar -->
        <li class="leagueNav">
            <div class="firstRow">
                {% for league in first_row_leagues %}
                    <a href="/league/{{league.league_id}}/{{current_season.start_year}}">
                        <img src="{{league.logo}}"/>
                    </a>
                {% endfor %}
                <i class="bi bi-caret-down-fill"></i>
                <i class="bi bi-caret-up-fill hide"></i>
            </div>
            <div class="secondRow">
                {% for league in second_row_leagues %}
                    <a href="/league/{{league.league_id}}/{{current_season.start_year}}">
                        <img src="{{league.logo}}"/>
                    </a>
                {% endfor %}
            </div>
        </li>
    </ul>
</nav>
<nav id="collapsedNav">
    <div>
        <a href="/builder" class="collapsedBuilder">
            <h5> StatBuilder </h5>
            <i class="bi bi-hammer"></i>
        </a>
    </div>
    <div>
        <form>
            {% csrf_token %}
            <h5><input type="text" name="search" id="collapsedSearchBar" placeholder="Search" autocomplete="off"/></h5>
            <ul class="searchResults" id="collapsedSearchResults"></ul>
        </form>
    </div>
    <div class="collapsedLeagueNav">
        <div class="firstRow">
            {% for league in first_row_leagues %}
                <a href="/league/{{league.league_id}}/{{current_season.start_year}}">
                    <img src="{{league.logo}}"/>
                </a>
            {% endfor %}
        </div>
        <div class="secondRow">
            {% for league in second_row_leagues %}
                <a href="/league/{{league.league_id}}/{{current_season.start_year}}">
                    <img src="{{league.logo}}"/>
                </a>
            {% endfor %}
        </div>
    </div>
</nav>
<script>
    $(document).ready(() => {
        // grab csrf token
        const token = $("nav#mainNav form#searchForm input[name='csrfmiddlewaretoken']").val();
        // create search tries
        const tries = { players: [], teams: [], leagues: [] };
        createTrie('/get_players', token) 
            .then(res => tries.players = generateTrie(res.result));
        createTrie('/get_teams', token)
            .then(res => tries.teams = generateTrie(res.result));
        createTrie('/get_leagues', token)
            .then(res => tries.leagues = generateTrie(res.result));
        // as user types, return search results
        $("nav form input[type='text']").keyup( e => playerSearch(tries, e, {{current_season.start_year}}) );
    })
</script>