{% with prefix=name|add:"Stat"|add:key %}
<div class="statInput">
    <div class="multipleSelects">
        <!-- Stat 1 -->
        <select name="{{prefix}}-firstStat">
            <option></option>
            {% for stat in stats %}
                <option value="{{stat.0}}">{{stat.1}}</option>
            {% endfor %}
        </select>
        <!-- Arithmetic Operator -->
        <select name="{{prefix}}-arithOp">
            <option></option>
            <option value="*">×</option>
            <option value="/">÷</option>
            <option >+</option>
            <option >-</option>
        </select>
        <!-- Stat 2 -->
        <select name="{{prefix}}-secondStat">
            <option></option>
            {% for stat in stats %}
                <option value="{{stat.0}}">{{stat.1}}</option>
            {% endfor %}
        </select>
    </div>
    {% if not last and name != "orderBy" %}
        <i class="bi bi-plus-circle-fill"></i>
    {% endif %}
</div>
<div class="multipleSelects">
    {% include 'toggle.html' with label="Per 90" prefix=prefix type="perNinety" %}
    {% if name == "filter" %}
        <select name="{{prefix}}-logicalOp">
            <option></option>
            <option>=</option>
            <option><</option>
            <option>></option>
            <option value="><">Between</option>
        </select>
        <input type="number" step=".01" name="{{prefix}}-firstVal">
        <input type="number" step=".01" name="{{prefix}}-secondVal" class="hide">
    {% elif name == "orderBy" %}
        {% include 'toggle.html' with label="Low to High" prefix=prefix type="lowToHigh" %}
    {% endif %}
</div>
{% endwith %}