/* Nav CSS */
nav#mainNav, nav#collapsedNav { 
    border-bottom: 1px solid lightgrey; 
    background-color: #f8f9fa;
}
nav#mainNav ul { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav#collapsedNav { 
    height: calc(175px + 3vw); 
    display: none;
    flex-direction: column;
    justify-content: center;
}
nav#collapsedNav div { padding: 10px; }
nav#collapsedNav div.collapsedLeagueNav div {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav#collapsedNav div.collapsedLeagueNav img {
    margin: 0 10px;
}
nav#collapsedNav a.collapsedBuilder { 
    display: flex; 
    align-items: center;
}
nav#collapsedNav a.collapsedBuilder i { 
    margin-left: calc(1px + 0.3vw);
    font-size: calc(8px + 0.4vw);
}

nav#mainNav li, nav#collapsedDiv div {
    height: calc(25px + 1vw);
    padding: 10px 0;
    text-align: center;
}

nav#mainNav a#brand { 
    font-family: 'Century Gothic', sans-serif;
    margin: 0 2% 0 0;
    border-right: 1px solid lightgrey;
    padding: 10px 3%;
    color:  #6c757d;
    font-weight: bold; 
}
nav#mainNav a#brand:hover { color: black; }
nav#mainNav li.burgerButton {
    width: 50%;
    padding: 10px;
    text-align: right;
}
nav#mainNav li.burgerButton i.bi-list {
    cursor: pointer;
}
nav#mainNav li.regularNav {
    width: calc(50% - 1px);
    border-right: 1px solid lightgrey; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav#mainNav li.regularNav i { 
    margin: 0 5%;
}
nav#mainNav li.regularNav a {
    height: 100%;
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#mainNav li.leagueNav { width: 50%; }
nav#mainNav li.leagueNav div.firstRow {
    height: calc(25px + 1vw);
    width: 100%;
    padding: 0px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav#mainNav li.leagueNav div.firstRow a { 
    width: calc(25px + 1vw);
    margin: 0 5%; 
    display: inline-block;
}
nav#mainNav li.leagueNav div.firstRow i { 
    color: grey; 
    cursor: pointer;
}
nav#mainNav li.leagueNav div.firstRow i:hover { color: black; }
nav#mainNav li.leagueNav div.firstRow img, 
nav#collapsedNav img { 
    height: calc(20px + 1vw); 
}
nav#mainNav li.leagueNav div.firstRow img:hover, 
nav#collapsedNav img:hover { 
    height: calc(25px + 1vw); 
}

nav#mainNav li.leagueNav div.secondRow {
    height: calc(22px + 1vw);
    width: 100%;
    border-top: 1px solid lightgrey;
    padding: 10px 0;
    display: none;
    justify-content: center;
    align-items: center;
}
nav#mainNav li.leagueNav div.secondRow a { 
    width: calc(22px + 1vw);
    margin: 0 3.5%; 
    display: inline-block;
}
nav#mainNav li.leagueNav div.secondRow img { height: calc(17px + 1vw); }
nav#mainNav li.leagueNav div.secondRow img:hover { height: calc(22px + 1vw); }

nav#mainNav form { margin: 0 2%; }
nav#mainNav input[type='text'],
nav#collapsedNav input[type='text'] { 
    outline: none;
    border: 1px solid lightgrey; 
    border-radius: 3px; 
    padding: 5px; 
}
nav#mainNav input[type='text']:focus, 
nav#collapsedNav input[type='text']:focus { 
    color: grey;
    border: 1px solid #DAA99B;
}

/* mobile */
@media only screen and (max-width: 1023.9px) {
    nav#mainNav li.leagueNav { display: none; }
    nav#mainNav li.regularNav { border: 0; }
    nav#mainNav li.regularNav .collapsible { display: none; }
    nav#mainNav a#brand { border: 0; }
    nav#mainNav li.burgerButton { 
        display: flex; 
        justify-content: flex-end;
        align-items: center;
    }
}
@media only screen and (min-width: 1024px) {
    nav#mainNav li.burgerButton { display: none; }
}