/* Nav CSS */
nav#mainNav, nav#collapsedNav { 
    border-bottom: 1px solid lightgrey; 
    background-color: #f8f9fa;
}
nav#mainNav ul#navList { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav#collapsedNav { 
    padding: 0 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
}
nav#collapsedNav div.collapsedLeagueNav div {
    height: calc(45px + 1vw); 
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav#collapsedNav div.collapsedLeagueNav a {
    display: inline-block;
    min-width: calc(45px + 1vw);
    text-align: center;
}
nav#collapsedNav a.collapsedBuilder { 
    margin: 10px 0;
    display: flex; 
    align-items: center;
}
nav#collapsedNav a.collapsedBuilder i { 
    margin-left: calc(1px + 0.3vw);
    font-size: calc(8px + 0.4vw);
}

nav#mainNav ul#navList li, nav#collapsedDiv div {
    height: calc(25px + 1vw);
    padding: 10px 0;
    text-align: center;
}

nav#mainNav a#brand { 
    font-family: 'Century Gothic', sans-serif;
    margin: 0 2% 0 0;
    border-right: 1px solid lightgrey;
    padding: 10px 3%;
    color:  #6c757d;
    font-weight: bold; 
}
nav#mainNav a#brand:hover { color: black; }
nav#mainNav li.burgerButton {
    width: 50%;
    padding: 10px;
    text-align: right;
}
nav#mainNav li.burgerButton i.bi-list {
    cursor: pointer;
}
nav#mainNav li.regularNav {
    width: calc(50% - 1px);
    border-right: 1px solid lightgrey; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav#mainNav li.regularNav i { 
    margin: 0 5%;
}
nav#mainNav li.regularNav a {
    height: 100%;
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#mainNav li.leagueNav { width: 50%; }

nav#mainNav li.leagueNav div.firstRow,
nav#collapsedNav li.leagueNav div.firstRow {
    height: calc(25px + 1vw);
    width: 100%;
    padding: 0px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav#mainNav li.leagueNav div a,
nav#collapsedNav li.leagueNav div a { 
    width: calc(35px + 2vw);
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

nav#mainNav li.leagueNav div.secondRow {
    height: calc(22px + 1vw);
    width: 100%;
    border-top: 1px solid lightgrey;
    padding: 10px 0;
    display: none;
    justify-content: center;
    align-items: center;
}

nav div.firstRow i { 
    color: grey; 
    cursor: pointer;
}
nav div.firstRow i:hover { color: black; }


nav div.firstRow img { height: calc(20px + 1vw); }
nav div.firstRow img:hover { height: calc(25px + 1vw); }

nav div.secondRow img { height: calc(17px + 1vw); }
nav div.secondRow img:hover { height: calc(22px + 1vw); }

nav#mainNav form { margin: 0 2%; }
nav#mainNav input[type='text'],
nav#collapsedNav input[type='text'] { 
    margin: 10px 0;
    outline: none;
    border: 1px solid lightgrey; 
    border-radius: 3px; 
    padding: 5px; 
}
nav#mainNav input#mainSearchBar:focus, 
nav#collapsedNav input#collapsedSearchBar:focus { 
    color: grey;
    border: 1px solid #DAA99B;
}

nav ul.searchResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-top: -7px;
    /*min-width: calc(150px + 2.5vw);*/
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: white;
    z-index: 6000;
}
nav ul.searchResults li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100% !important;
    border-bottom: 1px solid lightgrey;
    padding: calc(1px + 1vw) 0 !important;
    text-align: left !important;
}
nav ul.searchResults li:last-of-type { border-bottom: 0; }
nav ul.searchResults li.header {
    font-size: calc(10px + 0.4vw);
    font-weight: bold;
    justify-content: center;
}
nav ul.searchResults li.entry a {
    margin: 0 calc(2px + 1vw) 0 0 !important;
    padding: 0 !important;
    font-size: calc(8px + 0.4vw);
    font-weight: bold;
    color: black !important;
}
nav ul.searchResults li.entry a:hover { text-decoration: underline; }

nav ul.searchResults li.entry i,
nav ul.searchResults li.entry div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(30px + 1vw);
    margin: 0 !important;
}
nav ul.searchResults li.entry img {
    height: calc(10px + 1vw);
}
nav ul.searchResults li.entry i {
    color: black;
    font-size: calc(10px + 1vw);
    text-align: left;
}

/* mobile */
@media only screen and (max-width: 1023.9px) {
    nav#mainNav li.leagueNav { display: none; }
    nav#mainNav li.regularNav { border: 0; }
    nav#mainNav li.regularNav .collapsible { display: none; }
    nav#mainNav a#brand { border: 0; }
    nav#mainNav li.burgerButton { 
        display: flex; 
        justify-content: flex-end;
        align-items: center;
    }
}
@media only screen and (min-width: 1024px) {
    nav#mainNav li.burgerButton { display: none; }
    nav#collapsedNav { display: none; }
}