<!-- div titles for builder and dashboard -->
{% set page_div_id1 = stat %}
{% set page_div_id2 = substat %}

<!-- Card Contents -->

<ul class="list-group hidden per90CardList">

<!-- Set Page Constants -->
{% set pagemod = query_result.get(stat).get(substat).get("data")|length % 10 %}
{% set pagediv = query_result.get(stat).get(substat).get("data")|length // 10 %}
<!-- Beginning Card Body -->
<div class="py-0">
  <!-- Dashboard Title -->
  <h6 class="card-title row text-secondary"
    id="dash-card-title">

      <!-- Prev Button -->
      {% if card_num == 0 %}
        <div class="col text-right {{stat}}_prev_{{card_num}}"
           onclick="changeStat('{{stat}}',{{card_num}},{{num_cards}},'prev');">
      <!-- Prev Button Hidden -->
      {% else %}
        <div class="col text-right {{stat}}_prev_{{card_num}} hidden"
           onclick="changeStat('{{stat}}',{{card_num}},{{num_cards}},'prev');">
      {% endif %}
          <a class="text-secondary arrow-link" role="button">
            {% include "prev_arrow.html" %}
          </a>
        </div>
      <!-- End of Prev Button -->

      <div class="col-6 text-center">
        <strong>
          {{section_names.get(substat)}}
        </strong>
      </div>

      <!-- Next Button -->
      {% if card_num == 0 %}
        <div class="col nextarrow text-left {{stat}}_next_{{card_num}}"
           onclick="changeStat('{{stat}}',{{card_num}},{{num_cards}},'next');">
      <!-- Next Button Hidden -->
      {% else %}
        <div class="col nextarrow text-left {{stat}}_next_{{card_num}} hidden"
          onclick="changeStat('{{stat}}',{{card_num}},{{num_cards}},'next');">
      {% endif %}
            <a class="text-secondary arrow-link" role="button">
              {% include "next_arrow.html" %}
            </a>
        </div>
      <!-- End of Next Button -->

  </h6>
  <!-- Custom Stats End -->

  <!-- Get Number of Pages in Substat -->
  {% set num_pages = pagediv + 1 if pagemod > 0 else pagediv %}

  <!-- Loop through Pages -->
  {% for page in range(1, num_pages + 1) %}
    <!-- Get the list of stats-->
    {% set stat_list = query_result_per90.get(stat).get(substat).get("data") %}

    <!-- Card Page Div Start -->
    {% if page == 1 %}
      <div id="{{page_div_id1}}_{{page_div_id2}}_page_{{page}}">
    {% else %}
      <div id="{{page_div_id1}}_{{page_div_id2}}_page_{{page}}" class="hidden">
    {% endif %}

    <!-- Loop through Page Rows -->
    {% for row in stat_list[10 * (page - 1) : 10 * page] %}

      <!-- Beginning of Player Row -->
      <li class="list-group-item px-3 py-2" id="card-item">
        <div class="row justify-content-center pr-0">

          <!-- Team Logo Column -->
          <div class="col-2 text-center justify-content-left px-0">
            <img class="team-logo" src={{row.get("team_logo")}} height="28px"/>
          </div>

          <!-- Filler Column
          <div class="col-1"></div>-->

          <!-- Player Name/Team Column -->

          <!-- Dashboard Column -->
           <div class="col-6 text-left px-0">

            <!-- Player Name Row -->
            <div class="player-name-rank">

              <!-- N/A Rank -->
              {% if row.get('rank') == 'N/A.' %}
                <strong class="text-danger">
                  {{row.get("rank")}}
              <!-- Regular Rank -->
              {% else %}
                <strong class="text-dark">
                  {{row.get("rank")}}
              {% endif %}

                <!-- Regular Player Link -->
                <a class="text-dark"
                    href="{{ url_for('player', id=row.get('id')) }}">
                    {{row.get("name")}}
                </a>
              </strong>

            </div>
            <!-- Player Name Row End -->

            <!-- Player Team Row -->
            <div class="team-name">
              <fine>{{row.get("team_name")}}</fine>
            </div>

          </div>
          <!-- Player Name/Team Column End -->

          <!-- Player Stat Columns -->
          {% for stat in row.get('stats') %}
            <!-- Builder Stat Column -->
            <div class="col-3 px-0 text-right playerStat">
              <!-- N/A Player Stat -->
              {% if stat == "n/a" %}
                <strong class="text-danger">
                  {{stat}}
                </strong>
              <!-- Regular Player Stat -->
              {% else %}
                <strong class="text-success">
                  {{stat}}
                </strong>
              {% endif %}
            </div>
          {% endfor %}
          <!-- Player Stat Columns End -->

        </div>
      </li>
      <!-- End of Player Row -->
    {% endfor %}
    </div>
    <!-- Card Page Div End -->
  {% endfor %}

  <!-- Pagination List Item Beginning -->
  <li class="list-group-item border-0" id="pagination-div">
    <!-- Pagination Row -->
    <div class="row h-100">
      <!-- Pagination Div -->
      <div class="col-12">
        <!-- Page Buttons Beginning -->
        <nav class="nav justify-content-center">

          <ul class="pagination pagination-md">
            {% for i in range(1, num_pages + 1) %}
              <!-- At first, make page 1 active -->
              {% if i == 1 %}
                <li class="page-item text-primary active"
                  id="{{page_div_id1}}_{{page_div_id2}}_pagination_{{i}}">
              {% else %}
                <li class="page-item text-primary"
                  id="{{page_div_id1}}_{{page_div_id2}}_pagination_{{i}}">
              {% endif %}
                <a class="page-link"
                  onclick="changePage('{{page_div_id1}}', '{{page_div_id2}}', {{i}});">
                    {{i}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <!-- Page Buttons End -->
      </div>
      <!-- End Pagination Div -->
    </div>
  </li>
  <!-- Pagination List Item End -->
  {% if "header" not in query_result.keys() %}
    </div>
    <!-- Card Body End -->
  {% endif %}
</ul>
