/***********************************************/
/*                  GENERAL                    */
/***********************************************/

body, html { 
  height: 100%; 
}

.hidden { 
  display: none; 
} 

.toggle { 
  font-size: 1.4em; 
  font-height: 1.3em; 
}

/***********************************************/
/*                WRAPPERS                     */
/***********************************************/

#page_wrapper { 
  position:relative;
  max-width: 1000px; 
  height: auto; 
  min-height: 100%;
 }

#main_wrapper {
  position:absolute; 
  min-height: 100%;
  width: 100%; 
  top:0; 
  left:0; 
}

#content_wrapper {
  padding-bottom: 5%;
}

#per90_season_wrapper {
  background: #F5F5F5;
  padding-left: 45px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3%;
}

/* Dashboard */

#dashboard_section_wrapper { 
  padding-top: 2%;
  padding-bottom: 0px;
  margin: 5%;
}

/* Builder */

#builder_wrapper { 
  margin-top: 5%;
  padding: 10px; 
  font-size: x-small; 
}

/* Player Page */

#playercards_wrapper {
  padding-top: 5px;
  padding-bottom: 10px;
  width: 345px;
  background: #FAFAFA;
  margin-bottom: 3%
}

/***********************************************/
/*                  NAVBAR                     */
/***********************************************/

#mainNav {
}

.navbar-toggler {
  padding-top: 0px !important;
  padding-bottom: 1px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}  

.navbar-toggler-icon {
  font-size: 0.7em;
}

.nav-item { 
  /* font-size: calc(60% + .10vw + .10vh); */
} 

#brand {
  font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;
  font-size: 1.5em;
  margin-top: -5px;
  margin-bottom: 0;
}

#league_nav {
  height: 35px;
}

#league_nav_link {
  width: 50px;
}

#prem_league_nav_link {
  width: 450px;
}

.league_logo { 
  height: 20px; 
}
.league_logo:hover {
  margin-top: -5px;
  height: 30px;
}

/***********************************************/
/*                DASHBOARD                    */
/***********************************************/

#dashboardSectionTitle {
  /*font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;*/
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.9em;
  width: 325px;
  margin-bottom: 5px;
}

#dashCardTitle {
  /*font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;*/
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.3em;
}

.dashCard { 
  padding-top: 10px;
  font-size: x-small; 
  background: #FAFAFA;
}

/***********************************************/
/*                  CARD                       */
/***********************************************/

/* Dashboard Card */

.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.teamLogo { 
  height: 23px;
  width: 23px; 
}

.teamName {
  font-size: 1em;
}

.playerNameRank {
  /*font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;*/
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  color: black;
}

.playerStat {
  /*font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;*/
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.1em;
}

#paginationDiv {
  background: #FAFAFA;
}

#cardItem {
  min-width: 325px;
}

#cardRow {
  padding-right: 0px;
}

/* Player Page Card */

#playerCardHeader { 
  margin-bottom: 5px;
}

.playerCard {  
  font-size: x-small; 
}

.playerStatName {
  /*font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;*/
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.1em;
}

#playerPageName { 
  margin-top: 10px; 
  margin-bottom: 20px; 
}

#playerCardTitle {
  /*font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;*/
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: .9em;
}

.playerCol {
  padding-left: 5%;
  padding-right: 5%;
}

/***********************************************/
/*                 BUILDER                     */
/***********************************************/

#builderTitle {
  /*font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;*/
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: calc(120% + .1vw + .1vh);
  padding-top: 2%;
}

#builderCard {
  background: #FAFAFA;
}

#builderCardBody {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#builderHeader {
  background: #FAFAFA;
  font-size: calc(70% + .1vw + .1vh); 
}

/***********************************************/
/*                CUSTOMIZER                   */
/***********************************************/

.select_input { 
  font-size: 1em; 
}

.text_input { 
  font-size: .8em;
  height: 100%; 
}

.customLabel {
  font-size: 1.3em;
}

/***********************************************/
/*                   OTHER                     */
/***********************************************/

select, .orderlabel, .arrowlink, .page-link, .filtericon { 
  cursor: pointer; 
}

.per90Label, .orderLabel { 
  cursor: pointer; 
  font-size: .7em; 
  line-height: 2em; 
}

.seasonselect { 
  font-size: .7em; 
}

.prevarrow { 
}

.nextarrow { 
}

