body, html { 
  height: 100%; 
}

.hidden { 
  display: none; 
} 

.navbar-brand { 
  font-size: calc(70% + .3vw + .5vh); 
} 

.nav-item { 
  font-size: calc(60% + .10vw + .10vh); 
} 

h5 { 
  font-size: calc(110% + .1vw + .1vh); 
} 

h6, strong, fine, .player_name_rank, .builder_header
{ 
  font-size: calc(70% + .1vw + .1vh); 
} 

.team_logo { 
  height: 23px;
  width: 23px; 
}

.league_logo { 
  height: 25px; 
}

.select_input { 
  font-size: 1em; 
}

.text_input { 
  font-size: .8em;
  height: 100%; 
}

.toggle { 
  font-size: 1.4em; 
  font-height: 1.3em; 
}

#page_wrapper { 
  position:relative;
  max-width: 1000px; 
  height: auto; 
  min-height: 100%;
}

#content_wrapper {
  position:absolute; 
  min-height: 100%;
  width:100%; 
  padding-bottom: 5%;
  top:0; 
  left:0; 
}

#builder_wrapper { 
  padding-top: 10px; 
  padding-bottom: 10px; 
  width: 100%; 
  font-size: x-small; 
}

#dashboard_section_wrapper { 
  padding-top: 5%;
}

#player_wrapper { 
  padding-top: 10px; 
  padding-bottom: 10px; 
  width: 100%; 
}

#playerpage_row { 
  padding-top: 5%; 
}

select, .orderlabel, .arrowlink, .page-link, .filtericon { 
  cursor: pointer; 
}

.per90label { 
  cursor: pointer; 
  font-size: .7em; 
  line-height: 2em; 
}

.seasonselect { 
  font-size: .7em; 
}
.prevarrow { 
  padding-right: .7%; 
}

.nextarrow { 
  padding-left: .7%; 
}

.dashcard { 
  font-size: x-small; 
}

.builder_header { 
  padding-left: 0; 
  padding-right: 0; 
}

.customizelabel { 
  font-size: calc(100% + .1vw + .1vh); 
}

.playerpage_card {  
  font-size: x-small; 
  margin-bottom: 20px; 
}

.playerpage_title { 
  margin-top: 10px; 
  margin-bottom: 20px; 
}

