{% extends "base.html" %}
{% block content %}

  <!-- Scripts that require Jinja parameters -->
  <script>
    $(document).ready( function () {
      // season to league and club action
      $("#season_select").change(function() {
        // hide all divs
        $("#club_select").val("");
        $("#club_league_select").val("");
        $("#league_select").val("");
        $("#nationality__select").val("");
        {% for season in seasons %}
          $("#nationality_{{season}}_select_div").addClass("hidden");
          {% for league in leagues %}
            $("#club_{{league.replace(' ','_')}}_{{season}}_select_div").addClass("hidden");
          {% endfor %}
        {% endfor %}
        // show correct div
        var season = $(this).val();
        $("#nationality_" + season + "_select_div").removeClass("hidden");
      });
      // league to club action
      $("#club_league_select").change(function() {
        // hide all divs
        $("#club_select").val("");
        {% for season in seasons %}
          {% for league in leagues %}
            $("#club_{{league.replace(' ','_')}}_{{season}}_select_div").addClass("hidden");
          {% endfor %}
        {% endfor %}
        // show correct div
        var league = $(this).val();
        var season = $("#season_select").val();
        $("#club_" + league.replace(" ", "_") + "_" + season + "_select_div").removeClass("hidden");
      });
    });
  </script>

  <!-- StatBuilder Wrapper -->
  <div class="justify-content-center" id="builder_wrapper">
    <!-- StatBuilder Row Start -->
    <div class="row justify-content-center ml-auto mr-auto">
      <!-- StatBuilder Card Start -->
      <div class="card col shadow-sm rounded"
        id="builderCard">

          <!-- StatBuilder Header Card Body Start -->
          <div class="card-body" id="builderCardBody">

            <!-- StatBuilder Header Card Title Start -->
            <div class="card-title">
              <div class="text-center text-secondary" id="builderTitle">
                <div id="filter_button">
                  <a class="filtericon">
                    {% include "filter_icon.html" %}
                  </a>
                </div>
              </div>
              <!-- Customization Section Contents -->
              {% include "customize.html" %}
            </div>
            <!-- StatBuilder Header Card Title End -->

            <!-- Card Contents -->
            {% include "card.html" %}

          </div>
          <!-- StatBuilder Header Card Body End -->
      </div>
      <!-- StatBuilder Card End -->
    </div>
    <!-- StatBuilder Card Section Name Row End -->
  </div>
  <!-- StatBuilder Wrapper End -->
{% endblock %}
