<!-- div titles for builder and dashboard -->
{% if "header" in query_result.keys() %}
  {% set page_div_id1 = "stats" %}
  {% set page_div_id2 = "builder" %}
{% else %}
  {% set page_div_id1 = stat %}
  {% set page_div_id2 = substat %}
{% endif %}

<!-- Card Contents -->

<!-- Raise alert if error in custom stat creation -->
{% if query_result == "ERROR" %}
  <script>
    alert("There was an error in the last submission!");
  </script>

<!-- Regular Card -->
{% else %}
  <ul class="list-group">
    
    <!-- Custom Stats Header -->
    {% if "header" in query_result.keys() %}
      <!-- Set Page Constants -->
      {% set pagemod = query_result.get("data")|length % 10 %}
      {% set pagediv = query_result.get("data")|length // 10 %}
      {% set header = query_result.get('header')[4:] %}

      <!-- Builder Title -->
      <li class="list-group-item py0 px0 border-0"
        id="builderheader">
          <div class="row justify-content-center">
            <div class="col-5 px0">
            </div>
            {% set num_stats = header|length %}
            {% for i in range(num_stats) %}
                {% set column = header[i] %}
                <script>
                  $(document).ready( function() {
                    $(function() {
                      getColumnName("{{column}}", "custom_stat_heading_{{i}}")();
                    });
                  });
                </script>
                <div class="col-2 text-center text-secondary builder_header">
                  <strong id="custom_stat_heading_{{i}}">''</strong>
                </div>
            {% endfor %}
          </div>
      </li>
    <!-- Card Label -->
    {% else %}
      <!-- Set Page Constants -->
      {% set pagemod = query_result.get(stat).get(substat).get('data')|length % 10 %}
      {% set pagediv = query_result.get(stat).get(substat).get('data')|length // 10 %}
      <!-- Beginning Card Body -->
      <div class="card-body">
        <!-- Dashboard Title -->
        <h6 class="card-title text-center text-secondary dashboard_card_title">
          <strong>{{section_names.get(substat)}}</strong>
        </h6>
    {% endif %}
    <!-- Custom Stats End -->
    
    <!-- Get Number of Pages in Substat -->
    {% set num_pages = pagediv + 1 if pagemod > 0 else pagediv %}

    <!-- Loop through Pages -->
    {% for page in range(1, num_pages + 1) %}
      <!-- Get the list of stats-->
      {% if "header" in query_result.keys() %}
        {% set stat_list = query_result.get("data") %}
      {% else %}
        {% set stat_list = query_result.get(stat).get(substat).get("data") %}
      {% endif %}

      <!-- Card Page Div Start -->
      {% if page == 1 %}
        <div id="{{page_div_id1}}_{{page_div_id2}}_page_{{page}}">
      {% else %}
        <div id="{{page_div_id1}}_{{page_div_id2}}_page_{{page}}" class="hidden">
      {% endif %}

      <!-- Loop through Page Rows -->
      {% for row in stat_list[10 * (page - 1) : 10 * page] %}
        <!-- Beginning of Player Row -->
        <li class="list-group-item py0 px0" id="card_row">
          <div class="row align-items-center justify-content-center">

            <!-- Team Logo Column -->
            <div class="col-1 text-right px0">
              <img class="team_logo" src={{row.get("team_logo")}} height="28px"/>
            </div>

            <!-- Filler Column -->
            <div class="col-1"></div>


            <!-- Player Name/Team Column -->

            <!-- Builder Column -->
            {% if "header" in query_result.keys() %}
              <div class="col-3 text-left px0">
            <!-- Dashboard Column -->
            {% else %}
              <div class="col-4 col-xs-3 text-left px0">
            {% endif %}

              <!-- Player Name Row -->
              <div class="row player_name_rank">

                <!-- N/A Rank -->
                {% if row.get('rank') == 'N/A.' %}
                  <strong class="text-danger">
                    {{row.get("rank")}}
                <!-- Regular Rank -->
                {% else %}
                  <strong class="text-dark">
                    {{row.get("rank")}}
                {% endif %}

                <!-- Custom Stat Player Link -->
                {% if custom_season %}
                  <a class="text-dark"
                    href="{{ url_for('player', id=row.get('id'), season=custom_season) }}">
                    {{row.get("name")}}
                  </a>
                <!-- Regular Player Link -->
                {% else %}
                  <a class="text-dark"
                    href="{{ url_for('player', id=row.get('id'), season=current_season) }}">
                    {{row.get("name")}}
                  </a>
                {% endif %}
                  </strong>

              </div>
              <!-- Player Name Row End -->
                
              <!-- Player Team Row -->
              <div class="row player_team_name">
                <fine>{{row.get("team_name")}}</fine>
              </div>

            </div>
            <!-- Player Name/Team Column End -->

            <!-- Player Stat Columns -->
            {% for stat in row.get('stats') %}
              <!-- Builder Stat Column -->
              {% if "header" in query_result.keys() %}
                <div class="col-2 px0 text-center player_stat">
              <!-- Regular Stat Column -->
              {% else %}
                <div class="col-3 col-xs-2 col-md-1 px0 text-center player_stat">
              {% endif %}
                <!-- N/A Player Stat -->
                {% if stat == 'n/a' %}
                  <strong class="text-danger">
                    {{stat}}
                  </strong>
                <!-- Regular Player Stat -->
                {% else %}
                  <strong class="text-success">
                    {{stat}}
                  </strong>
                {% endif %}
              </div>
            {% endfor %}
            <!-- Player Stat Columns End -->

          </div>
        </li>
        <!-- End of Player Row -->
      {% endfor %}
      </div>
      <!-- Card Page Div End -->
    {% endfor %}
    
    <!-- Pagination List Item Beginning -->
    <li class="list-group-item border-0" id="pagination_div">
      <!-- Pagination Row -->
      <div class="row h-100">
        <!-- Pagination Div -->
        <div class="col-12">
          <!-- Page Buttons Beginning -->
          <nav class="nav justify-content-center">
            
            <ul class="pagination pagination-md">
              {% for i in range(1, num_pages + 1) %}
                <!-- At first, make page 1 active -->
                {% if i == 1 %}
                  <li class="page-item text-primary active" 
                    id="{{page_div_id1}}_{{page_div_id2}}_pagination_{{i}}">
                {% else %}
                  <li class="page-item text-primary"
                    id="{{page_div_id1}}_{{page_div_id2}}_pagination_{{i}}">
                {% endif %}
                  <a class="page-link"
                    onclick="changePage('{{page_div_id1}}', '{{page_div_id2}}', {{i}});">
                      {{i}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          <!-- Page Buttons End -->
        </div>
        <!-- End Pagination Div -->
      </div>
    </li>
    <!-- Pagination List Item End -->
    {% if "header" not in query_result.keys() %}
      </div>
      <!-- Card Body End -->
    {% endif %}
  </ul>
{% endif %}
