{% extends "builder.html" %}

{% block customize %}

{% set stats = ["None","Assists","Successful Dribbles","Successful Dribbles Percentage","Attempted Dribbles","Goals","Shots","Shots on Target","Shots on Target Percentage","Penalties Won","Penalties Scored","Penalties Scored Percentage","Penalties Missed","Passes","Pass Accuracy","Key Passes","Blocks","Interceptions","Tackles","Penalties Committed","Goals Conceded","Player Rating","Penalties Saved","Red Cards","Straight Red Cards","Yellow Cards","Second Yellow Cards"] %}
<!-- Duels/Dribbles Past
<option>Dribbles Past</option>
<option>Duels</option>
<option>Duels Won</option>
<option>Duels Won Percentage</option>
-->

<!-- Customization Dropdown -->
<div class="alert alert-light hidden" id="custom_stat" role="alert">
  <h4 class="alert-heading">Customize Your Stat</h4>
  <strong>Use the options below to generate your own custom statistic.</strong>
  <hr>
  <form action="{{ url_for('custom_stat') }}" method="post">

    <!-- SELECT FIELDS -->
    <div class="form-group">
      <label for="select_field_1_1"><h5>Choose Stat to Show:</h5></label>
      {% for select_row in range(1,5) %}
        {% if select_row != 1 %}
          <div  class="form-row justify-content-left hidden" id="select_div_{{select_row}}">
        {% else %}
          <div  class="form-row justify-content-left" id="select_div_{{select_row}}">
        {% endif %}
          <div class="col-xs-4 col-sm-4 col-md-4">
            <select class="custom-select custom-select-sm" name="select_field1_{{select_row}}">
              {% for stat in stats %}
                <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <select class="custom-select custom-select-sm" name="select_op_{{select_row}}">
              <option>None</option>
              <option value="*">×</option>
              <option value="/">÷</option>
              <option>+</option>
              <option>-</option>
            </select>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <select class="custom-select custom-select-sm" name="select_field2_{{select_row}}">
              {% for stat in stats %}
                <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
              {% endfor %}
            </select>
          </div>
          {% if select_row < 4 %}
            <div class="col-xs-1 col-sm-1 col-md-1">
              <div id="select_plus_{{select_row}}">
                <img src="{{ url_for('static', filename='plus.svg') }}" height="30px">
              </div>
            </div>
          {% else %}
            <div class="col-xs-1 col-sm-1 col-md-1">
            </div>
          {% endif %}
          </div>
        <!-- Per 90 Button -->
        {% if select_row != 1 %}
          <div class="custom-control custom-switch toggle hidden" id="select_per90_toggle_div_{{select_row}}" >
        {% else %}
          <div class="custom-control custom-switch toggle" id="select_per90_toggle_div_{{select_row}}" >
        {% endif %}
            <input type="checkbox" class="custom-control-input" id="select_per90_toggle_{{select_row}}" 
              name="select_per90_toggle_{{select_row}}">
            <label class="custom-control-label" for="select_per90_toggle_{{select_row}}">
              Per 90 Minutes
            </label>
          </div>
      {% endfor %}

    <!-- FILTER FIELDS -->
    <div class="form-group" style="margin-top: 15px">
      <label for="select_field_1"><h5>Choose Filter Types:</h5>
        <p><strong>Tip: For desirable results, try filtering by minutes played!</strong></p>
      </label>
      <div class="form-row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <select class="custom-select custom-select-sm" id="filter_type">
            <option>None</option>
            <option value="age">Age</option>
            <option value="club">Club</option>
            <option value="league">League</option>
            <option value="minutes_played">Minutes Played</option>
            <option value="nationality">Nationality</option>
            <option value="position">Position</option>
            <option value="stat">Stat</option>
          </select>
        </div>
      </div>

      <!-- Filter Age -->
      <div class="hidden" id="filter_age_div" style="margin-top: 15px">
        <h6>Age:</h6>
        <div class="form-row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <select class="custom-select custom-select-sm" id="age_op" name="age_op">
              <option>None</option>
              <option>=</option>
              <option><</option>
              <option>></option>
              <option value="><">Between</option>
            </select>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1">
            <input type="text" class="form-control text-center" name="age_input1" value="" style="font-size: 1.15em">
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1">
            <div class="hidden" id="age_input2_div">
              <input type="text" class="form-control text-center" name="age_input2" value="" style="font-size: 1.15em">
            </div>
          </div>
        </div>
      </div>

      <!-- Filter Club -->
      <div class="hidden" id="filter_club_div" style="margin-top: 15px">
        <h6>Club:</h6>
        <div class="form-row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <select class="custom-select custom-select-sm" id="club_league_select"
              name="club_league_select" value="">
              <option>None</option>
              {% for league in leagues %}
                <option>{{league}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 hidden" id="club_select_div">
          {% for league in leagues %}
            <div id="club_{{league.replace(' ','_')}}_select_div">
              <select class="custom-select custom-select-sm" name="club_select">
                <option>None</option>
                {% for club in clubs.get(league) %}
                  <option>{{club}}</option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

      <!-- Filter League -->
      <div class="hidden" id="filter_league_div" style="margin-top: 15px">
        <h6>League:</h6>
        <div class="form-row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <select class="custom-select custom-select-sm" name="league_select">
            <option>None</option>
            {% for league in leagues %}
              <option>{{league}}</option>
            {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Filter Minutes Played -->
      <div class="hidden" id="filter_minutes_played_div" style="margin-top: 15px">
        <h6>Minutes Played:</h6>
        <div class="form-row">
          <div class="col-xs-2 col-sm-2 col-md-2">
            <select class="custom-select custom-select-sm" id="minutes_played_op" 
              name="minutes_played_op">
              <option>None</option>
              <option>=</option>
              <option><</option>
              <option>></option>
              <option value="><">Between</option>
            </select>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <input type="text" class="form-control text-center" name="minutes_played_input1" 
              value="" style="font-size: 1.15em">
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="hidden" id="minutes_played_input2_div">
              <input type="text" class="form-control text-center" name="minutes_played_input2"
                value="" style="font-size: 1.15em">
            </div>
          </div>
        </div>
      </div>

      <!-- Filter Nationality -->
      <div class="hidden" id="filter_nationality_div" style="margin-top: 15px">
        <h6>Nation:</h6>
        <div class="form-row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <select class="custom-select custom-select-sm" name="nationality_select">
              <option>None</option>
              {% for nation in nations %}
                <option>{{nation}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Filter Position -->
      <div class="hidden" id="filter_position_div" style="margin-top: 15px">
        <h6>Position:</h6>
        <div class="form-row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <select class="custom-select custom-select-sm" name="position_select">
              <option>None</option>
              <option>Attacker</option>
              <option>Midfielder</option>
              <option>Defender</option>
              <option>Goalkeeper</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Filter Stat -->
    <div class="hidden" id="filter_stat_div" style="margin-top: 15px">
      <h6>Stats:</h6>
      {% for filter_row in range(1,5) %}
        {% if filter_row != 1 %}
          <div  class="form-row justify-content-left hidden" id="stat_div_{{filter_row}}">
        {% else %}
          <div  class="form-row justify-content-left" id="stat_div_{{filter_row}}">
        {% endif %}
          <div class="col-xs-4 col-sm-4 col-md-4">
            <select class="custom-select custom-select-sm" name="stat_field1_{{filter_row}}">
            {% for stat in stats %}
              <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
            {% endfor %}
            </select>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <select class="custom-select custom-select-sm" name="stat_lop_{{filter_row}}">
              <option>None</option>
              <option>×</option>
              <option>÷</option>
              <option>+</option>
              <option>-</option>
            </select>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4">
            <select class="custom-select custom-select-sm" name="stat_field2_{{filter_row}}">
              {% for stat in stats %}
                <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
              {% endfor %}
            </select>
          </div>
          {% if filter_row < 4 %}
            <div class="col-xs-1 col-sm-1 col-md-1">
              <div id="stat_plus_{{filter_row}}">
                <img src="{{ url_for('static', filename='plus.svg') }}" height="30px">
              </div>
            </div>
          {% else %}
            <div class="col-xs-1 col-sm-1 col-md-1">
            </div>
          {% endif %}
          </div>
        <!-- Logical Expression -->
        {% if filter_row != 1 %}
          <div  class="form-row hidden" id="stat_expression_{{filter_row}}">
        {% else %}
          <div  class="form-row" id="stat_expression_{{filter_row}}">
        {% endif %}
            <div class="col-xs-2 col-sm-2 col-md-2">
              <select class="custom-select custom-select-sm" id="stat_cop_{{filter_row}}" 
                name="stat_cop_{{filter_row}}">
                <option>None</option>
                <option>=</option>
                <option><</option>
                <option>></option>
                <option value="><">Between</option>
              </select>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
              <input type="text" class="form-control text-center" name="stat_input1_{{filter_row}}"
                value="" style="font-size: 1.15em">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
              <div class="hidden" id="stat_input2_div_{{filter_row}}">
                <input type="text" class="form-control text-center" name="stat_input2_{{filter_row}}"
                  value="" style="font-size: 1.15em">
              </div>
            </div>
          </div>
        <!-- Per 90 Button -->
        {% if filter_row != 1 %}
          <div class="custom-control custom-switch toggle hidden" id="stat_per90_toggle_div_{{filter_row}}" >
        {% else %}
          <div class="custom-control custom-switch toggle" id="stat_per90_toggle_div_{{filter_row}}">
        {% endif %}
            <input type="checkbox" class="custom-control-input" id="stat_per90_toggle_{{filter_row}}"
              name="stat_per90_toggle_{{filter_row}}">
            <label class="custom-control-label" for="stat_per90_toggle_{{filter_row}}">
              Per 90 Minutes
            </label>
          </div>
      {% endfor %}
    </div>
      
    <!-- ORDER BY FIELDS -->
    <div class="form-group" style="margin-top: 15px">
      <label for="order_field1"><h5>Choose Stat to Order By:</h5></label>
      <div  class="form-row">
        <div class="col-xs-5 col-sm-5 col-md-5">
          <select class="custom-select custom-select-sm" id="order_field1" name="order_field1">
            {% for stat in stats %}
              <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <select class="custom-select custom-select-sm" name="order_op">
            <option>None</option>
            <option value="*">×</option>
            <option value="/">÷</option>
            <option>+</option>
            <option>-</option>
          </select>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5">
          <select class="custom-select custom-select-sm" id="order_field2" name="order_field2">
            {% for stat in stats %}
              <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="custom-control custom-switch toggle">
            <input type="checkbox" class="custom-control-input" name="order_per90_toggle"
              id="order_per90_toggle">
            <label class="custom-control-label" for="order_per90_toggle">
              Per 90 Minutes
            </label>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="custom-control custom-switch toggle">
            <input type="checkbox" class="custom-control-input" name="asc_toggle"
              id="asc_toggle">
            <label class="custom-control-label" for="asc_toggle">
              Low to High
            </label>
          </div>
        </div>
      </div>
      <div class="form-row text-center justify-content-center" style="padding-top: 15px">
        <div class="col-xs-3 col-sm-3 col-md-3">
        <button class="btn btn-sm btn-dark" type="submit">Generate Stat</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- End Customization Dropdown -->

{% endblock %}

