{% set stats = ["Assists","Successful Dribbles","Successful Dribbles Percentage","Attempted Dribbles","Goals","Shots","Shots on Target","Shots on Target Percentage","Penalties Won","Penalties Scored","Penalties Scored Percentage","Penalties Missed","Passes","Pass Accuracy","Key Passes","Blocks","Interceptions","Tackles","Penalties Committed","Goals Conceded","Player Rating","Penalties Saved","Red Cards","Straight Red Cards","Yellow Cards","Second Yellow Cards"] %}

<!-- Duels/Dribbles Past
<option>Dribbles Past</option>
<option>Duels</option>
<option>Duels Won</option>
<option>Duels Won Percentage</option>
-->

<!-- Customization Dropdown -->
<div class="alert alert-light hidden" id="custom_stat" role="alert">
  <h5 class="alert-heading">Customize Your Stat</h5>
  <strong>Use the options below to generate your own custom statistic.</strong>
  <hr>
  <form action="{{ url_for('custom_stat') }}" method="post" class="needs-validation"
    id="builder_form" novalidate>

    <!-- SELECT FIELDS -->
    <div class="form-group">
      <label for="season_select"><h6>Choose Season:</h6></label>
      <div class="form-row justify-content-left">
        <div class="col-4">
          <select class="custom-select custom-select-sm select_input" id="season_select" name="season_select" value="{{current_season}}">
            {% for season in seasons %}
              <option>{{season}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="form-group" style="margin-top: 15px">
      <label for="select_field_1_1"><h6>Choose Stat to Show:</h6>
        <p><strong>Tip: This is the only required field!</strong></p>
      </label>
      {% for select_row in range(1,4) %}
        {% if select_row != 1 %}
          <div class="form-row justify-content-left hidden" id="select_div_{{select_row}}">
        {% else %}
          <div class="form-row justify-content-left" id="select_div_{{select_row}}">
        {% endif %}
          <div class="col-4">
            <select class="custom-select custom-select-sm select_input" name="select_field1_{{select_row}}" required>
              <option value="">None</option>
              {% for stat in stats %}
                <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback select-validation"></div>
          </div>
          <div class="col-2">
            <select class="custom-select custom-select-sm select_input" name="select_op_{{select_row}}">
              <option value="">None</option>
              <option value="*">×</option>
              <option value="/">÷</option>
              <option>+</option>
              <option>-</option>
            </select>
          </div>
          <div class="col-4">
            <select class="custom-select custom-select-sm select_input" name="select_field2_{{select_row}}">
              <option value="">None</option>
              {% for stat in stats %}
                <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
              {% endfor %}
            </select>
          </div>
          {% if select_row < 3 %}
            <div class="col-1">
              <div id="select_plus_{{select_row}}">
                <img src="{{ url_for('static', filename='plus.svg') }}" height="30px">
              </div>
            </div>
          {% endif %}
        </div>

        <!-- Per 90 Button -->
        {% if select_row != 1 %}
          <div class="custom-control custom-switch toggle hidden" id="select_per90_toggle_div_{{select_row}}" >
        {% else %}
          <div class="custom-control custom-switch toggle" id="select_per90_toggle_div_{{select_row}}" >
        {% endif %}
            <input type="checkbox" class="custom-control-input" id="select_per90_toggle_{{select_row}}"
              name="select_per90_toggle_{{select_row}}">
            <label class="custom-control-label per90label" for="select_per90_toggle_{{select_row}}">
              <fine>Per 90 Minutes</fine>
            </label>
          </div>
      {% endfor %}
    </div>

    <!-- FILTER FIELDS -->
    <div class="form-group" style="margin-top: 15px">
      <label for="select_field_1"><h6>Choose Filter Types:</h6>
        <p><strong>Tip: For desirable per 90 results, try filtering by minutes played!</strong></p>
      </label>
      <div class="form-row">
        <div class="col-5 col-xs-3">
          <select class="custom-select custom-select-sm select_input" id="filter_type">
            <option value="">None</option>
            <option value="age">Age</option>
            <option value="club">Club</option>
            <option value="league">League</option>
            <option value="minutes_played">Minutes Played</option>
            <option value="nationality">Nationality</option>
            <option value="position">Position</option>
            <option value="stat">Stat</option>
          </select>
        </div>
      </div>

      <!-- Filter Age -->
      <div class="hidden" id="filter_age_div" style="margin-top: 15px">
        <strong>Age:</strong>
        <div class="form-row">
          <div class="col-2">
            <select class="custom-select custom-select-sm select_input" id="age_op" name="age_op">
              <option value="">None</option>
              <option>=</option>
              <option><</option>
              <option>></option>
              <option value="><">Between</option>
            </select>
          </div>
          <div class="col-2">
            <input type="number" class="form-control text-center text_input" id="age_input1" name="age_input1" value="">
            <div class="invalid-feedback numeric-validation"></div>
          </div>
          <div class="col-2 hidden" id="age_input2_div">
              <input type="number" class="form-control text-center text_input" id="age_input2" name="age_input2" value="">
              <div class="invalid-feedback numeric-validation"></div>
          </div>
        </div>
      </div>

      <!-- Filter Club -->
      <div class="hidden" id="filter_club_div" style="margin-top: 15px">
        <strong>Club:</strong>
        <div class="form-row">
          <div class="col-4" id="club_league_select_div">
            <select class="custom-select custom-select-sm select_input" id="club_league_select"
              name="club_league_select" value="">
              <option value="">None</option>
              {% for league in leagues %}
                <option>{{league}}</option>
              {% endfor %}
            </select>
          </div>
          {% for season in seasons %}
            {% for league in leagues %}
              <div class="col-4 hidden" id="club_{{league.replace(' ', '_')}}_{{season}}_select_div">
                <select class="custom-select custom-select-sm select_input" id="club_select" name="club_select">
                  <option value="">None</option>
                  {% for club in clubs.get(season).get(league) %}
                    <option>{{club}}</option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      <!-- Filter League -->
      <div class="hidden" id="filter_league_div" style="margin-top: 15px">
        <strong>League:</strong>
        <div class="form-row">
          <div class="col-4" id="league_{{season}}_select_div">
            <select class="custom-select custom-select-sm select_input"
              id="league_select" name="league_select">
              <option value="">None</option>
              {% for league in leagues %}
                <option>{{league}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Filter Minutes Played -->
      <div class="hidden" id="filter_minutes_played_div" style="margin-top: 15px">
        <strong>Minutes Played:</strong>
        <div class="form-row">
          <div class="col-2">
            <select class="custom-select custom-select-sm select_input" id="minutes_played_op"
              name="minutes_played_op">
              <option value="">None</option>
              <option>=</option>
              <option><</option>
              <option>></option>
              <option value="><">Between</option>
            </select>
          </div>
          <div class="col-3">
            <input type="number" class="form-control text-center text_input" id="minutes_played_input1"
              name="minutes_played_input1" value="">
            <div class="invalid-feedback numeric-validation"></div>
          </div>

          <div class="col-3">
            <div class="hidden" id="minutes_played_input2_div">
              <input type="number" class="form-control text-center text_input" id="minutes_played_input2"
                name="minutes_played_input2" value="">
              <div class="invalid-feedback numeric-validation"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Filter Nationality -->
      <div class="hidden" id="filter_nationality_div" style="margin-top: 15px">
        <strong>Nation:</strong>
        <div class="form-row">
          {% for season in seasons %}
            {% if season == current_season %}
              <div class="col-4" id="nationality_{{season}}_select_div">
            {% else %}
              <div class="col-4 hidden" id="nationality_{{season}}_select_div">
            {% endif %}
              <select class="custom-select custom-select-sm select_input"
                id="nationality_select" name="nationality_select">
                <option value="">None</option>
                {% for nation in nations.get(season) %}
                  <option>{{nation}}</option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Filter Position -->
      <div class="hidden" id="filter_position_div" style="margin-top: 15px">
        <strong>Position:</strong>
        <div class="form-row">
          <div class="col-4">
            <select class="custom-select custom-select-sm select_input" id="position_select" name="position_select">
              <option value="">None</option>
              <option>Attacker</option>
              <option>Midfielder</option>
              <option>Defender</option>
              <option>Goalkeeper</option>
            </select>
          </div>
        </div>
      </div>

    </div>

    <!-- Filter Stat -->
    <div class="hidden" id="filter_stat_div" style="margin-top: 15px">

      <strong>Stats:</strong>
      {% for filter_row in range(1,4) %}
        {% if filter_row != 1 %}
          <div  class="form-row justify-content-left hidden" id="stat_div_{{filter_row}}">
        {% else %}
          <div  class="form-row justify-content-left" id="stat_div_{{filter_row}}">
        {% endif %}
          <div class="col-4">
            <select class="custom-select custom-select-sm select_input" name="stat_field1_{{filter_row}}" id="stat_field1_{{filter_row}}">
              <option value="">None</option>
              {% for stat in stats %}
                <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-2">
            <select class="custom-select custom-select-sm select_input" name="stat_lop_{{filter_row}}" id="stat_lop_{{filter_row}}">
              <option value="">None</option>
              <option>×</option>
              <option>÷</option>
              <option>+</option>
              <option>-</option>
            </select>
          </div>
          <div class="col-4">
            <select class="custom-select custom-select-sm select_input" name="stat_field2_{{filter_row}}" id="stat_field2_{{filter_row}}">
              <option value="">None</option>
              {% for stat in stats %}
                <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
              {% endfor %}
            </select>
          </div>
          {% if filter_row < 3 %}
            <div class="col-1">
              <div id="stat_plus_{{filter_row}}">
                <img src="{{ url_for('static', filename='plus.svg') }}" height="30px">
              </div>
            </div>
          {% endif %}
        </div>

        <!-- Logical Expression -->
        {% if filter_row != 1 %}
          <div  class="form-row hidden" id="stat_expression_{{filter_row}}" style="margin-top: 5px">
        {% else %}
          <div  class="form-row" id="stat_expression_{{filter_row}}" style="margin-top: 5px">
        {% endif %}
            <div class="col-2">
              <select class="custom-select custom-select-sm select_input" id="stat_cop_{{filter_row}}"
                name="stat_cop_{{filter_row}}">
                <option value="">None</option>
                <option>=</option>
                <option><</option>
                <option>></option>
                <option value="><">Between</option>
              </select>
            </div>
            <div class="col-3">
              <input type="number" class="form-control text-center text_input" name="stat_input1_{{filter_row}}"
                id="stat_input1_{{filter_row}}" value="">
              <div class="invalid-feedback numeric-validation"></div>
            </div>
            <div class="col-3">
              <div class="hidden" id="stat_input2_div_{{filter_row}}">
                <input type="number" class="form-control text-center text_input" name="stat_input2_{{filter_row}}"
                  id="stat_input2_{{filter_row}}" value="">
                <div class="invalid-feedback numeric-validation"></div>
              </div>
            </div>
          </div>

        <!-- Per 90 Button -->
        {% if filter_row != 1 %}
          <div class="custom-control custom-switch toggle hidden" id="stat_per90_toggle_div_{{filter_row}}" >
        {% else %}
          <div class="custom-control custom-switch toggle" id="stat_per90_toggle_div_{{filter_row}}">
        {% endif %}
            <input type="checkbox" class="custom-control-input" id="stat_per90_toggle_{{filter_row}}"
              name="stat_per90_toggle_{{filter_row}}">
            <label class="custom-control-label per90label" for="stat_per90_toggle_{{filter_row}}">
              <fine>Per 90 Minutes</fine>
            </label>
          </div>
      {% endfor %}

    </div>

    <!-- ORDER BY FIELDS -->
    <div class="form-group" style="margin-top: 15px">

      <label for="order_field1"><h6>Choose Stat to Order By:</h6>
        <p><strong>Tip: Must be one of your selected stats! (This is an optional parameter. The default is your first selected stat.)</strong></p>
      </label>

      <div  class="form-row">
        <div class="col-5">
          <select class="custom-select custom-select-sm select_input" id="order_field1" name="order_field1">
            <option value="">None</option>
            {% for stat in stats %}
              <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-2">
          <select class="custom-select custom-select-sm select_input" name="order_op">
            <option value="">None</option>
            <option value="*">×</option>
            <option value="/">÷</option>
            <option>+</option>
            <option>-</option>
          </select>
        </div>
        <div class="col-5">
          <select class="custom-select custom-select-sm select_input" id="order_field2" name="order_field2">
            <option value="">None</option>
            {% for stat in stats %}
              <option value="{{stat.replace(' ','_')}}">{{stat}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6 col-md-3">
          <div class="custom-control custom-switch toggle">
            <input type="checkbox" class="custom-control-input" name="order_per90_toggle"
              id="order_per90_toggle">
            <label class="custom-control-label per90label" for="order_per90_toggle">
              <fine>Per 90 Minutes</fine>
            </label>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="custom-control custom-switch toggle">
            <input type="checkbox" class="custom-control-input" name="asc_toggle"
              id="asc_toggle">
            <label class="custom-control-label orderlabel" for="asc_toggle">
              <fine>Low to High</fine>
            </label>
          </div>
        </div>
      </div>

      <div class="form-row text-center justify-content-center" style="padding-top: 15px">
        <div class="col-5 col-md-3">
          <button class="btn btn-sm btn-dark" type="submit">
            <fine>Generate Stat</fine>
          </button>
        </div>
      </div>

    </div>

  </form>
</div>
<!-- End Customization Dropdown -->
