{% extends "base.html" %}

{% block content %}

{% set section_names = {"goals": "Goals","assists": "Assists","goal_contributions": "Goal Contributions","shots_on": "Shots On Target","shots": "Shots","goals_per_shot":  "Goals Per Shot","passes_key": "Key Passes","passes": "Passes","passes_accuracy": "Pass Accuracy","dribbles_succeeded": "Successful Dribbles","dribbles_attempted": "Attempted Dribbles","dribbles_succeeded_pct": "Dribble Success Rate","tackles": "Tackles","interceptions": "Interceptions","blocks": "Blocks","rating": "Player Rating","goals_conceded": "Avg. Goals Conceded","penalties_saved": "Penalties Saved"} %}


<!-- Per 90 Button -->
<div class="row text-center justify-content-center" style="padding-bottom: 0px; padding-top: 30px">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h2>
      {% if current_league == "top-5" %}
        Dashboard
      {% elif current_league == "bundesliga" %}
        Bundesliga Dashboard
      {% elif current_league == "ligue-1" %}
        Ligue 1 Dashboard
      {% elif current_league == "premier-league" %}
        Premier League Dashboard
      {% elif current_league == "la-liga" %}
        La Liga Dashboard
      {% elif current_league == "serie-a" %}
        Serie A Dashboard
      {% endif %}
      {% if current_per90 %}
        <a class="btn btn-dark btn-sm" role="button" href={{ url_for( 'dashboard', league=current_league ) }}>
          Per 90 Minutes Stats
        </a>
      {% else %}
        <a class="btn btn-dark btn-sm" role="button" href={{ url_for( 'dashboard_per90', league=current_league ) }}>
          Overall Stats
        </a>
      {%endif%}
    </h2>
  </div>
</div>

<hr class="my-4">
{% for stat in query_result.keys() %}
  <div style="padding-bottom: 30px">
    <h6 class="display-6 text-center text-success" style="padding-bottom: 10px">{{stat.upper()}}</h6>
    <div class="row justify-content-center">
    {% for substat in query_result.get(stat).keys() %}
      <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4" style="width: 18rem; font-size: x-small;">
        <div class="card-body">
          <h6 class="card-title text-center text-secondary">
            {{section_names.get(substat)}}
          </h6>
          <!-- Card Contents -->
          <ul class="list-group list-group-flush">
            {% set pagemod = query_result.get(stat).get(substat)|length % 10 %}
            {% set pagediv = query_result.get(stat).get(substat)|length // 10 %}
            {% set num_pages = pagediv + 1 if pagemod > 0 else pagediv %} 
            {% for page in range(1, num_pages + 1) %}
              {% if page == 1 %}
                <div id="{{stat}}_{{substat}}_page_{{page}}">
              {% else %}
                <div id="{{stat}}_{{substat}}_page_{{page}}" class="hidden">
              {% endif %}
              {% for row in (query_result.get(stat).get(substat)[10 * (page - 1) : 10 * page]) %}
              <li class="list-group-item">
                <div class="row h-100 justify-content-center align-items-center">
                  <div class="col-3 text-center float-left">
                    <img src={{row.get("team_logo")}} height="30px"/>
                  </div>
                  <div class="col-6 text-left float-center">
                    <div class="row">
                      <strong>{{row.get("rank")}}. {{row.get("name")}}</strong>
                    </div>
                    <div class="row">
                      {{row.get("team_name")}}
                    </div>
                  </div>
                  <div class="col-3 text-center float-right">
                    <strong>{{row.get("stat")}}</strong>
                  </div>
                </div>
              </li>
              {% endfor %}
              </div>
            {% endfor %}
            <li class="list-group-item">
              <div class="row h-100">
                <div class="col-12">
                  <nav class="nav justify-content-center">
                    <ul class="pagination pagination">
                      {% for i in range(1, num_pages + 1) %}
                        {% if i == 1 %}
                          <li class="page-item text-primary active" id="{{stat}}_{{substat}}_pagination_{{i}}">
                        {% else %}
                          <li class="page-item text-primary" id="{{stat}}_{{substat}}_pagination_{{i}}">
                        {% endif %}
                          <a class="page-link" onclick="changePage('{{stat}}','{{substat}}',{{i}});">
                            {{i}}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </nav>
                </div>
              </div>
            </li>
          </ul>
          <!-- End Card Contents -->
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endfor %}

{% endblock %}

