{% extends "base.html" %}

{% block content %}

{% set section_names = {"goals": "Goals","assists": "Assists","goal_contributions": "Goal Contributions","shots_on": "Shots On Target","shots": "Shots","goals_per_shot":  "Goals Per Shot","passes_key": "Key Passes","passes": "Passes","passes_accuracy": "Pass Accuracy","dribbles_succeeded": "Successful Dribbles","dribbles_attempted": "Attempted Dribbles","dribbles_succeeded_pct": "Dribble Success Rate","tackles": "Tackles","interceptions": "Interceptions","blocks": "Blocks","rating": "Player Rating","goals_conceded": "Goals Conceded","penalties_saved": "Penalties Saved"} %}

<div class="row align-items-center border-bottom" id="per90_season_wrapper">
  <!-- Dashboard Per 90 Toggle -->
  <div class="col-4 col-3-xs col-md-2 mr-auto custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" 
        id="main_per90_toggle">
      <label class="custom-control-label align-self-center per90Label"
        for="main_per90_toggle">
          <strong class="text-secondary">Per 90</strong>
      </label>
  </div>

  <!-- Dashboard Season Dropdown -->
  <div class="col-4 col-xs-3 col-md-2 ml-auto">
      <select class="custom-select custom-select-sm seasonselect" 
        id="season-select" value="">
          <option>{{current_season}}</option>
          {% for season in seasons %}
            {% if season != current_season %}
              <option>{{season}}</option>
            {% endif %}
          {% endfor %}
      </select>
  </div>
</div>

<div class="row justify-content-center">
<!-- Loop Through Stat Sections -->
{% for stat in query_result.keys() %}
  <!-- Section Wrapper -->
  <div id="dashboard_section_wrapper">
    <!-- Section Heading -->
    <div class="ml-auto mr-auto text-left" id="dashboardSectionTitle">
      <strong>{{stat.upper()}}</strong>
    </div>
    <!-- Card Row -->
    <!--<div class="row justify-content-center">-->

      <!-- Number of Cards in Given Section -->
      {% set num_cards = query_result.get(stat).keys()|length %}

      <!-- Loop Through Stat Section's Substats -->
      {% for substat in query_result.get(stat).keys() %}

        <!-- Iteration Number -->
        {% set card_num = loop.index - 1 %}

        <!-- Card Content Beginning -->
        {% if card_num == 0 %}
          <div class="card dashCard shadow-sm rounded" 
            id="{{stat}}_card_{{card_num}}">
        {% else %}
          <div class="card dashCard shadow-sm rounded hidden" 
            id="{{stat}}_card_{{card_num}}">
        {% endif %}
            {% include "card.html" %}
            {% include "per90_card.html" %}
          </div>
        <!-- Card Content End -->

      {% endfor %}

      <!--</div>-->
    <!-- Card Row End -->
  </div>
  <!-- Section Wrapper End --> 

{% endfor %}
</div>

{% endblock %}
