<!doctype html>
<html lang="en">
  <head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- JQUERY SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>info.rm - statistics on players in Europe's top five leagues</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="border shadow p-3 mb-5 bg-white" style="position:relative; width:75%; margin-left:auto; margin-right:auto; min-width: 1000px; padding-top: 130px">
      <nav class="navbar navbar-fixed-top navbar-light bg-light border" style="position:absolute; top:0; left:0; width:100%; margin-left:auto; margin-right:auto">
        <!-- Logo -->
        <a class="navbar-brand mb-0 h1" href="{{ url_for('all_leagues') }}">info.rm</a>
        <!-- Search Bar -->
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      <nav class="navbar navbar-light bg-light border" style="position: absolute; top:55px; left:0; width:100%; margin-left:auto; margin-right:auto">
        <!-- All Leagues -->
        <a class="nav-link" href="{{ url_for('all_leagues') }}">
          All
        </a>
        <!-- Bundesliga -->
        <a class="nav-link" href="{{ url_for('bundesliga') }}">
          <img src="https://media.api-football.com/leagues/8.png" height="40px">
        </a>
        <!-- Ligue 1 -->
        <a class="nav-link" href="{{ url_for('ligue_1') }}">
          <img src="https://media.api-football.com/leagues/4.svg" height="40px">
        </a>
        <!-- Premier League -->
        <a class="nav-link" href="{{ url_for('premier_league') }}">
          <img src="https://media.api-football.com/leagues/2.png" height="40px">
        </a>
        <!-- All Leagues -->
        <a class="nav-link" href="{{ url_for('la_liga') }}">
          <img src="https://media.api-football.com/leagues/87.png" height="40px">
        </a>
        <!-- Serie A -->
        <a class="nav-link" href="{{ url_for('serie_a') }}">
          <img src="https://media.api-football.com/leagues/94.png" height="40px">
        </a>
      </nav>
      <!-- Wrapper Container -->
      <div class="container-fluid" style="padding-top: 130px">
        <div style="padding-bottom: 30px">
          <h4 class="display-6">Attacking Statistics</h4>
          <hr class="my-4">
          <div class="row">
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Goals</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/46.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Jamie Vardy</strong>
                      </div>
                      <div class="row">
                        Leicester
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>17</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/50.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Sergio Leonel Agüero del Castillo</strong>
                      </div>
                      <div class="row">
                        Manchester City
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>16</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/41.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Daniel William John Ings</strong>
                      </div>
                      <div class="row">
                        Southampton
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>15</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Assists</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/50.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Kevin De Bruyne</strong>
                      </div>
                      <div class="row">
                        Manchester City
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>16</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/40.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Trent Alexander-Arnold</strong>
                      </div>
                      <div class="row">
                        Liverpool
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>10</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/47.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Heung-Min Son</strong>
                      </div>
                      <div class="row">
                        Tottenham
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>7</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Shots on Target</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/40.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Mohamed Salah Ghaly</strong>
                      </div>
                      <div class="row">
                        Liverpool
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>38</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/33.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Marcus Rashford</strong>
                      </div>
                      <div class="row">
                        Manchester United
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>34</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/40.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Roberto Firmino Barbosa de Oliveira</strong>
                      </div>
                      <div class="row">
                        Liverpool
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>33</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 30px">
          <h4 class="display-6">Creation Statistics</h4>
          <hr class="my-4">
          <div class="row">
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Key Passes</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/50.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Kevin De Bruyne</strong>
                      </div>
                      <div class="row">
                        Manchester City
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>89</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/66.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Jack Grealish</strong>
                      </div>
                      <div class="row">
                        Aston Villa
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>69</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/71.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Emiliano Buendía</strong>
                      </div>
                      <div class="row">
                        Norwich
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>61</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Successful Dribbles</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/39.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Adama Traoré Diarra</strong>
                      </div>
                      <div class="row">
                        Wolves
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>136</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/52.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Wilfried Zaha</strong>
                      </div>
                      <div class="row">
                        Crystal Palace
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>123</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/71.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Emiliano Buendía</strong>
                      </div>
                      <div class="row">
                        Norwich
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>82</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Passes Made</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/40.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Virgil van Dijk</strong>
                      </div>
                      <div class="row">
                        Liverpool
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>1891</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/46.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Çağlar Söyüncü</strong>
                      </div>
                      <div class="row">
                        Leicester
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>1516</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/50.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Rodrigo Hernández Cascante</strong>
                      </div>
                      <div class="row">
                        Manchester City
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>1491</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 30px">
          <h4 class="display-6">Defending Statistics</h4>
          <hr class="my-4">
          <div class="row">
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Tackles</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/46.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Ricardo Domingos Barbosa Pereira</strong>
                      </div>
                      <div class="row">
                        Leicester
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>93</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/33.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Aaron Wan-Bissaka</strong>
                      </div>
                      <div class="row">
                        Manchester United
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>75</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/46.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Onyinye Wilfred Ndidi</strong>
                      </div>
                      <div class="row">
                        Leicester
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>73</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Interceptions</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/35.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Diego Rico Salguero</strong>
                      </div>
                      <div class="row">
                        Bournemouth
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>67</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/46.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Onyinye Wilfred Ndidi</strong>
                      </div>
                      <div class="row">
                        Leicester
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>56</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/62.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Chris Basham</strong>
                      </div>
                      <div class="row">
                        Sheffield Utd
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>55</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Blocks</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/66.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Tyrone Mings</strong>
                      </div>
                      <div class="row">
                        Aston Villa
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>34</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/44.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. James Tarkowski</strong>
                      </div>
                      <div class="row">
                        Burnley
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>29</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/42.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. David Luiz Moreira Marinho</strong>
                      </div>
                      <div class="row">
                        Arsenal
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>27</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding-bottom:30px">
          <h4 class="display-6">Goalkeeper Statistics</h4>
          <hr class="my-4">
          <div class="row justify-content-center">
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Average Goals Conceded</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/40.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Alisson Ramsés Becker</strong>
                      </div>
                      <div class="row">
                        Liverpool
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>0.46</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/62.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>2. Dean Henderson</strong>
                      </div>
                      <div class="row">
                        Sheffield Utd
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>0.84</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/46.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. Kasper Schmeichel</strong>
                      </div>
                      <div class="row">
                        Leicester
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>1.0</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card col-xs-4 col-sm-4 col-md-4" style="width: 18rem; font-size: x-small;">
              <div class="card-body">
                <h5 class="card-title">Penalties Saved</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/39.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Rui Pedro dos Santos Patrício</strong>
                      </div>
                      <div class="row">
                        Wolves
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>2</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/71.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>1. Tim Krul</strong>
                      </div>
                      <div class="row">
                        Norwich
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>2</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-3 text-left float-left">
                      <img src="https://media.api-football.com/teams/66.png" height="30px"/>
                    </div>
                    <div class="col-6 text-left float-center">
                      <div class="row">
                        <strong>3. José Manuel Reina Páez</strong>
                      </div>
                      <div class="row">
                        Aston Villa
                      </div>
                    </div>
                    <div class="col-3 text-right float-right">
                      <strong>1</strong>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row h-100">
                    <div class="col-12 text-center">
                      <img src="{{ url_for('static', filename='icons/arrow-left-circle.svg') }}" height="25px">&nbsp&nbsp
                      <img src="{{ url_for('static', filename='icons/arrow-right-circle.svg') }}" height="25px">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
