<!-- Header -->
<div class="row justify-content-center" id="playerCardHeader">
  <div class="col-6 text-secondary text-center" id="playerCardTitle">
    <strong>Gameplay</strong>
  </div>
</div>
<!-- Header End -->

<ul class="list-group playerCard">
  <li class="list-group-item">
    <div class="row">
      <div class="col-7 text-secondary text-left playerStatName">
        <strong>Minutes Played</strong>
      </div>
      <div class="col-5 text-success text-right playerStatGameplay">
        <strong>{{player_stat.get("minutes_played")|int}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-7 text-secondary text-left playerStatName">
        <strong>Games Started</strong>
      </div>
      <div class="col-5 text-success text-right playerStatGameplay">
        <strong>{{player_stat.get("games_started")|int}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-7 text-secondary text-left playerStatName">
        <strong>Games Benched</strong>
      </div>
      <div class="col-5 text-success text-right playerStatGameplay">
        <strong>{{player_stat.get("games_bench")|int}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-7 text-secondary text-left playerStatName">
        <strong>Game Appearances</strong>
      </div>
      <div class="col-5 text-success text-right playerStatGameplay">
        <strong>{{player_stat.get("games_appearances")|int}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-7 text-secondary text-left playerStatName">
        <strong>Substitutions In</strong>
      </div>
      <div class="col-5 text-success text-right playerStatGameplay">
        <strong>{{player_stat.get("substitutions_in")|int}}</strong>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-7 text-secondary text-left playerStatName">
        <strong>Substitutions Out</strong>
      </div>
      <div class="col-5 text-success text-right playerStatGameplay">
        <strong>{{player_stat.get("substitutions_out")|int}}</strong>
      </div>
    </div>
  </li>
</ul>
