<!-- Header -->
<div class="row justify-content-center" id="playerCardHeader">
  <div class="col-6 text-secondary text-center" id="playerCardTitle">
    <strong>Stats</strong>
  </div>
</div>
<!-- Header End -->

{% set pct_stats = ["passes_accuracy", "dribbles_succeeded_pct"] %}

{% set stats_list = ["goals","goals_conceded", "assists", "shots", "shots_on", "passes", "passes_key", "passes_accuracy", "dribbles_succeeded", "dribbles_attempted", "dribbles_succeeded_pct", "tackles", "interceptions", "blocks"] %}

<ul class="list-group playerCard">
  {% for stat_field in stats_list %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-7 text-secondary text-left playerStatName">
          <strong>{{stat_field}}</strong>
        </div>
        <div class="col-5 text-success text-right playerStat">
          {% if stat_field == "goals" %}
            <strong>{{player_stat.get("goals")|int}}</strong>
            <strong>({{player_stat.get("penalties_scored")|int}})</strong>
          {% elif stat_field in pct_stats %}
            <strong>{{player_stat.get(stat_field)|int}}%</strong>
          {% else %}
            <strong>{{player_stat.get(stat_field)|int}}</strong>
          {% endif %}
        </div>
        <div class="col-5 text-success text-right hidden playerStatPer90">
          {% if stat_field in pct_stats %}
            <strong>{{player_stat.get(stat_field)|int}}%</strong>
          {% else %}
            <strong>{{player_stat_per90.get(stat_field)|round(2)}}</strong>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

