{% set stat_cards = ["player_bio.html", "player_stats.html", "player_fouling.html", "player_gameplay.html"] %}

{% for card in stat_cards %}
  {% set card_num = loop.index - 1%}

  <!-- Previous Button -->
  {% if card_num == 0 %}
    <div class="col-1 align-self-center text-right prevarrow"
      onclick="changeStat('player', {{card_num}}, {{stat_cards|length}}, 'prev');"
      id="player_prev_{{card_num}}">
  <!-- Prev Button Hidden -->
  {% else %}
    <div class="col-1 align-self-center text-right prevarrow hidden"
      onclick="changeStat('player', {{card_num}}, {{stat_cards|length}}, 'prev');"
      id="player_prev_{{card_num}}">
  {% endif %}
      <a class="text-secondary arrowlink">
        {% include "prev_arrow.html" %}
      </a>
    </div>
  <!-- End of Prev Button -->


  <!-- Player Card -->
  {% if card_num == 0 %}
    <div class="col-10" id="player_card_{{card_num}}">
  {% else %}
    <div class="col-10 hidden" id="player_card_{{card_num}}">
  {% endif %}
    {% include card %}
  </div>

  <!-- Next Button -->
  {% if card_num == 0 %}
    <div class="col-1 align-self-center nextarrow text-left"
      onclick="changeStat('player', {{card_num}}, {{stat_cards|length}}, 'next');"
      id="player_next_{{card_num}}">
  <!-- Next Button Hidden -->
  {% else %}
    <div class="col-1 align-self-center text-left nextarrow hidden"
      onclick="changeStat('player', {{card_num}}, {{stat_cards|length}}, 'next');"
      id="player_next_{{card_num}}">
  {% endif %}
        <a class="text-secondary arrowlink">
          {% include "next_arrow.html" %}
        </a>
    </div>
  <!-- End of Next Button -->

{% endfor %}


