<!-- Header -->
<div class="row justify-content-center" id="playerCardHeader">
  <div class="col-6 text-secondary text-center" id="playerCardTitle">
    <strong>Fouling</strong>
  </div>
</div>
<!-- Header End -->

{% set per_90_stats = ["fouls_committed", "fouls_drawn"] %}

{% set stats_list = ["fouls_committed", "fouls_drawn", "cards_red", "cards_yellow", "penalties_scored", "penalties_missed", "penalties_committed", "penalties_won", "penalties_saved"] %}

<ul class="list-group playerCard">
  {% for stat_field in stats_list %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-7 text-secondary text-left playerStatName">
          <strong>{{stat_field}}</strong>
        </div>
        <div class="col-5 text-success text-right playerStat">
            <strong>{{player_stat.get(stat_field)|int}}</strong>
        </div>
        <div class="col-5 text-success text-right hidden playerStatPer90">
          {% if stat_field in per_90_stats %}
            <strong>{{player_stat_per90.get(stat_field)|round(2)}}</strong>
          {% else %}
            <strong>{{player_stat.get(stat_field)|int}}</strong>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
