/***********************************************/
/******************** TAGS *********************/
/***********************************************/

body {
  height: 100vh;
}

select, .order-label, .per90-label, .arrow-link, .page-link, .filter-icon, .plus {
  cursor: pointer;
}

/***********************************************/
/***************** CLASSES *********************/
/***********************************************/

.builder-button {
  font-size: .8em;
}

.builder-toggle-label {
  font-size: 1em;
  line-height: 2.3em;
}

.custom-label { font-size: 1.3em; }

.dash-card {
  font-size: x-small;
  background: #FAFAFA;
}

.hidden { display: none; }

.league-logo { height: 35px; }

.dropdown-league-logo { height: 25px}

.footer {
  position: relative;
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: .65em;
}

.league-logo:hover {
  margin-top: -6px;
  height: 45px;
}

.league-nav-link { width: 100px; }

.navbar-toggler-icon { font-size: .7em; }

.per90-label, .order-label {
  font-size: .7em;
  line-height: 2em;
}

.player-card { font-size: x-small; }

.player-col {
  padding-left: 5%;
  padding-right: 5%;
}

.player-name-rank {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
}

.player-stat, .player-stat-per90, .player-stat-name, .player-stat-gameplay, .player-stat-pens, .player-stat-bio {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.1em;
}

.search-name {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.7em;
  line-height: 1em;
}

.season-select { font-size: .7em; }

.select-input { font-size: 1em; }

.team-logo {
  height: 23px;
  width: 23px;
}

.text-input {
  font-size: .8em;
  height: 100%;
}

.team-name { font-size: 1em; }

/***********************************************/
/******************** IDS **********************/
/***********************************************/

#brand {
  font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;
  font-size: 1.5em;
  padding-left: 15px;
}

#builder-card { background: #FAFAFA; }

#builder-header {
  background: #FAFAFA;
  font-size: calc(70% + .1vw + .1vh);
}

#builder-title {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: calc(120% + .1vw + .1vh);
  padding-top: 2%;
}
#builder-link {
  margin-right: 15px;
  width: 100px;
}

#builder-wrapper { font-size: x-small; }

@-moz-document url-prefix() {
  #bundesliga-link, #champions-link { margin-left: -10px; }
}

#card-item { min-width: 325px; }

#dashboard-league-flag { height: 25px; }

#dashboard-section-title {
  display: none;
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.9em;
  width: 325px;
  margin-bottom: 5px;
}

#dashboard-title {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: .65em;
}

#dash-card-title {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.3em;
}

#europa-crop {
  height: 30px;
  overflow: hidden;
}
#europa-crop-dashboard {
  height: 25px;
  overflow: hidden;
}
#europa-crop-player {
  height: 20px;
  width: 25px;
  overflow: hidden;
}

#league-nav { height: 50px; }

#main-nav-collapse {
  width: 100%;
  padding-left: 15px;
}

#main-wrapper {
  position:absolute;
  min-height: 100%;
  width: 100%;
  top:0;
  left:0;
}

#nav-search {
  width: 170px !important;
  margin-right: 15px;
}

#other-league-nav-button {
  margin-top: 10px;
  margin-left: -20px;
}

#other-league-nav {
  height: 50px;
  padding-right: 5px;
}

#page-wrapper {
  position:relative;
  max-width: 1000px;
  height: auto;
  min-height: 100%;
}

#pagination-div { background: #FAFAFA; }

#per90-season-wrapper { background: #F5F5F5; }

#player-card-header {
  margin-bottom: 5px;
}

#player-card-title {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: .9em;
}

#player-cards-wrapper {
  width: 345px;
  background: #FAFAFA;
  margin-bottom: 3%
}

#player-page-name {
  margin-top: 10px;
  margin-bottom: 20px;
}

#player-per90-label { margin-top: 2px; }

#search-wrapper { width: 185px !important; }
