/***********************************************/
/******************** TAGS *********************/
/***********************************************/

body, html {
  height: 100%;
}

select, .order-label, .per90-label, .arrow-link, .page-link, .filter-icon, .plus {
  cursor: pointer;
}

/***********************************************/
/***************** CLASSES *********************/
/***********************************************/

.custom-label { font-size: 1.3em; }

.dash-card {
  font-size: x-small;
  background: #FAFAFA;
}

/* change all `hidden` language to hide(), show(), and toggle() */
.hidden { display: none; }

.dropdown-league-logo, .league-logo { height: 35px; }

.league-logo:hover {
  margin-top: -6px;
  height: 45px;
}

.navbar-toggler {
  padding-top: 0px !important;
  padding-bottom: 1px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin-right: 15px !important;
}

.navbar-toggler-icon { font-size: 0.7em; }

.per90-label, .order-label {
  font-size: .7em;
  line-height: 2em;
}

.player-card { font-size: x-small; }

.player-col {
  padding-left: 5%;
  padding-right: 5%;
}

.player-name-rank {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
}

.playerStat, .player-stat-per90, .player-stat-name, .player-stat-gameplay, .player-stat-pens, .player-stat-bio {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.1em;
}

.search-name {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.7em;
  line-height: 1em;
}

.season-select { font-size: .7em; }

.select-input { font-size: 1em; }

.team-logo {
  height: 23px;
  width: 23px;
}

.text-input {
  font-size: .8em;
  height: 100%;
}

.team-name { font-size: 1em; }

.toggle {
  font-size: 2.4em;
  font-height: 1.3em; /**** fix this? ******/
}

/***********************************************/
/******************** IDS **********************/
/***********************************************/

#brand {
  font-family: "Century Gothic", CenturyGothic, AppliGothic, sans-serif;
  font-size: 1.5em;
  padding-left: 15px;
}

#builder-card { background: #FAFAFA; }

#builder-header {
  background: #FAFAFA;
  font-size: calc(70% + .1vw + .1vh);
}

#builder-title {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: calc(120% + .1vw + .1vh);
  padding-top: 2%;
}
#builder-link { margin-right: 15px; }

#builder-wrapper {
  margin-top: 5%;
  padding: 10px;
  font-size: x-small;
}

#card-item { min-width: 325px; }

#content-wrapper { padding-bottom: 5% }

#dashboard-section-title {
  display: none;
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.9em;
  width: 325px;
  margin-bottom: 5px;
}

#dash-card-title {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.3em;
}

#europa-crop {
  height: 35px;
  overflow: hidden;
}

#europa-crop-player {
  height: 20px;
  width: 25px;
  overflow: hidden;
}

#league-dropdown-menu {
  min-width: 20px !important;
  right: 0px;
}

#league-nav {
  height: 50px;
  padding-left: 10px;
}

#league-nav-link { width: 100px; }

#main-nav-collapse {
  width: 100%;
  padding-left: 15px;
}

#main-wrapper {
  position:absolute;
  min-height: 100%;
  width: 100%;
  top:0;
  left:0;
}

#nav-search { width: 190px !important; }

#other-league-dropdown { margin-top: 10px; }

#page-wrapper {
  position:relative;
  max-width: 1000px;
  height: auto;
  min-height: 100%;
}

#pagination-div { background: #FAFAFA; }

#per90-season-wrapper {
  background: #F5F5F5;
  padding-left: 45px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3%;
}

#player-card-header {
  margin-bottom: 5px;
}

#player-card-title {
  font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: .9em;
}

#player-cards-wrapper {
  width: 345px;
  background: #FAFAFA;
  margin-bottom: 3%
}

#player-page-name {
  margin-top: 10px;
  margin-bottom: 20px;
}

#player-per90-label { margin-top: 2px; }

#search-form {
  margin-right: 25px;
  width: 195px !important;
}
